.ActionBanner {
  background-color: $color-yellow-dark;
  padding-left: $gutter-width;
  padding-right: $gutter-width;
}

.ActionBanner__content {
  display: flex;
  margin: 0 auto;
  max-width: $grid-width;
  padding-top: $gutter-width*1.5;
  padding-bottom: $gutter-width*1.5;

  @include above-mobile-landscape {
    align-items: center;
    flex-direction: row;
  }

  @include mobile-landscape-and-below {
    flex-direction: column;
  }

}

.ActionBanner__statement {
  font-size: 20px;
  @include mobile-landscape-and-below {
    margin-bottom: $gutter-width;
  }
}

.ActionBanner__actions {
  @include above-mobile-landscape {
    margin-left: auto;
  }
}
