.Alert {
	position: fixed;
	width: 100%;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	padding: $gutter-width;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 0 20px 0 #E2E2E2;
}

.Alert__close {
	position: absolute;
	right: $gutter-width;
	top: 50%;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('images/icon-cross-dark.svg');
	margin-top: -10px;
	outline: none;
	cursor: pointer;
}

.Alert--success {
	color: #fff;
	background-color: $color-highlight-primary;
	.Alert__close {
		background-image: url('images/icon-cross-light.svg');
	}
}