.Button {
  padding: 14px 30px;
  background-color: #fff;
  display: inline-block;
  border-radius: 2px;
  @include text-medium;
  transition: all .24s ease-in-out;
}

.Button--outline {
  background-color: transparent;
  border: 1px solid $color-border;
}

.Button--large {
  padding: 21px 50px;
}

.Button--outline.Button--light {
  border: 1px solid #fff;
}

.Button--light {
  color: #fff;
}

.Button--primary {
  background-color: $color-highlight-primary;
  color: #fff;
}

.Button--secondary {
  background-color: $color-highlight-secondary;
}
