.Button {
  padding: 14px 30px;
  background-color: #fff;
  display: inline-block;
  border-radius: 2px;
  @include text-medium;
}

.Button--outline {
  background-color: transparent;
}

.Button--outline.Button--light {
  border: 1px solid #fff;
}

.Button--light {
  color: #fff;
}

.Button--secondary {
  background-color: $color-highlight-secondary;
}
