.Callouts {
  max-width: $content-width + ($gutter-width*8);
  margin: 0 auto;
  display: flex;
  margin-top: -30px;
  position: relative;

  @include above-mobile-landscape {
    flex-direction: row;
  }

  @include mobile-landscape-and-below {
    flex-direction: column;
  }

}

.Callout {
  padding-left: 15px;
  padding-right: 15px;
  flex-grow: 0;

  @include above-mobile-landscape {
    
  }

  @include mobile-landscape-and-below {
    margin-bottom: $gutter-width;
  }

}

.Callout__content {
  background-color: #fff;
  font-size: 20px;
  box-shadow: 0 0 80px 0 rgba(182,182,182,0.37);
  border-radius: 2px;

  @include above-mobile-landscape {
    padding: $gutter-width*2;
  }

  @include mobile-landscape-and-below {
    padding: $gutter-width*1.5;
  }

}
