.Carousel {
  padding-bottom: $gutter-width*2;

  @include above-mobile-landscape {
    padding-top: $gutter-width*4;
  }

  @include mobile-landscape-and-below {
    padding-top: $gutter-width*2;
  }

}

.Carousel__cells {
  max-width: (270px * 4) + (3 * 30px);
  margin: 0 auto;
}

.Carousel__cell {

  @include above-mobile-landscape {
    margin-left: 15px;
    margin-right: 15px;
  }

  @include mobile-landscape-and-below {
    margin-left: 5px;
    margin-right: 5px;
  }

}
