.CheckboxButtons {
  display: flex;
  flex-wrap: wrap;
  
}

.CheckboxButton {
  
  @include above-mobile-landscape {
    margin-right: $gutter-width;
    margin-bottom: $gutter-width;
  }

  @include mobile-landscape-and-below {
    margin-right: $gutter-width/2;
    margin-bottom: $gutter-width/2;
  }

}

.CheckboxButton__label {
  border-color: $color-border-dark !important;

  &:hover {
    @extend .Button--active;
  }

}

.CheckboxButton__input {
  display: none;
}

.CheckboxButton__input:checked ~ .CheckboxButton__label {
  @extend .Button--active;
  border-color: $color-highlight-primary !important;
}
