.CheckboxButtons {
  display: flex;
  flex-wrap: wrap;
}

.CheckboxButton {
  margin-right: $gutter-width;
}

.CheckboxButton__label {
  border-color: $color-border-dark !important;

  &:hover {
    @extend .Button--active;
  }

}

.CheckboxButton__input {
  display: none;
}

.CheckboxButton__input:checked ~ .CheckboxButton__label {
  @extend .Button--active;
  border-color: $color-highlight-primary !important;
}
