.EditList {
  padding-top: $gutter-width*3;
}

.EditList__heading {
  margin: 0 auto;
  margin-bottom: $gutter-width;
  max-width: $form-width;
  padding-left: $gutter-width;
  padding-right: $gutter-width;
}

.EditList__items {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-border;
}

.EditList__item {

  &:nth-child(odd) {
    background-color: $color-gray-verylight;
  }

}

.EditList__content {
  padding-left: $gutter-width;
  padding-right: $gutter-width;
  max-width: $form-width;
  display: flex;
  padding-top: $gutter-width;
  padding-bottom: $gutter-width;
  align-items: center;
  margin: 0 auto;
}

.EditList__number {
  font-size: 16px;
  @include text-medium;
  width: 20%;
}

.EditList__duration {
  width: 15%;
  white-space: nowrap;
}

.EditList__title {

}

.EditList__edit {
  font-size: 14px;
  margin-left: auto;
  padding-right: $gutter-width;
  white-space: nowrap;
  color: $color-gray-mid;

  .EditList__step:hover & {
    color: $color-gray-dark;
  }

}

.EditList__remove {
  background-image: url('images/icon-trash-dark.svg');
  background-position: center;
  background-repeat: no-repeat;
  border-left: 1px solid $color-gray-mid;
  height: 35px;
  opacity: 0.25;
  width: 45px;
  width: 5%;

  span {
    display: none;
  }
}

.EditList__actions {
  padding-left: $gutter-width;
  padding-right: $gutter-width;
  max-width: $form-width;
  display: flex;
  padding-top: $gutter-width;
  padding-bottom: $gutter-width;
  align-items: center;
  margin: 0 auto;
}
