.FileUpload {
  min-height: 120px;
  border: 1px dashed #E2E2E2;
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center;

}


.FileUpload__message {
  text-align: center;
  @include text-medium;
  color: $color-gray-mid;
  font-size: 14px;
}
