.Filter {
  background-color: $color-gray-verylight;
  padding-left: $gutter-width;
  padding-right: $gutter-width;
}

.Filter__content {
  max-width: $grid-width;
  margin: 0 auto;
  padding-top: $gutter-width;
  padding-bottom: $gutter-width;
  display: flex;
}

.Filter__view {
  margin-left: auto;
}
<<<<<<< HEAD

.Filter__sort {
  display: flex;
}

.Filter__sort {
  display: flex;
  margin-right: $gutter-width;
}

.Filter__filters {
  display: flex;
  margin-right: $gutter-width;
}

.Filter__view {
  display: flex;
}
=======
>>>>>>> f46a5d49ea074ee7821b06b96015c71569c5bc0a
