.FilterOverlay {
  background-color: #fff;
  display: none;
  left: 0;
  opacity: 0;
  padding-bottom: $gutter-width;
  padding-top: $gutter-width;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 100;
}

.FilterOverlay__content {
  width: 100%;
}

.FilterOverlay--active {

}

.FilterOverlay__close {
  background-image: url('images/icon-cross-dark.svg');
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  position: absolute;
  right: $gutter-width;
  top: $gutter-width;
  width: 24px;
  outline: none;
  cursor: pointer;
  span {
    display: none;
  }
}
