.Footer {
  background-color: #fafafa;
  padding-left: $gutter-width;
  padding-right: $gutter-width;

  @include above-mobile-landscape {
    padding-top: $gutter-width*4;
    padding-bottom: $gutter-width*4;
  }

  @include mobile-landscape-and-below {
    padding-top: $gutter-width*2;
    padding-bottom: $gutter-width*2;
  }

}

.Footer__content {
  max-width: $form-width;
  margin: 0 auto;
  display: flex;

  @include above-mobile-landscape {
    align-items: center;
    flex-direction: row;
  }

  @include mobile-landscape-and-below {
    flex-direction: column;
  }

}

.Footer__logo-statement {
  display: flex;
  flex-direction: column;
}

.Footer__logo {
  background-image: url('logo-large.svg');
  background-position: center;
  background-repeat: no-repeat;
  height: 20px;
  width: 150px;

  @include above-mobile-landscape {
    margin-bottom: $gutter-width*1.5;
  }

  @include mobile-landscape-and-below {
    margin-bottom: $gutter-width;
  }

  span {
    display: none;
  }

}

.Footer__statement {
  font-size: 18px;
  opacity: .31;

  @include above-mobile-landscape {

  }

  @include mobile-landscape-and-below {
    margin-bottom: $gutter-width;
  }

}

.Footer__navigation {
  font-size: 16px;

  @include above-mobile-landscape {
    margin-left: auto;
  }

  @include mobile-landscape-and-below {
    margin-bottom: $gutter-width;
  }

}
