.FormUploads {
	margin-top: $gutter-width;
}

.FormUploads__file {
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid $color-border;
	color: $color-main;
	cursor: pointer;
	display: inline-block;

	height: 48px;
	line-height: 48px;
	padding-left: 30px;
	padding-right: 20px;
	text-align: center;
	transition: all .12s ease-in-out;
	white-space: nowrap;

	background-repeat: no-repeat;
	background-position: 15px center;
	padding-left: 42px;
	background-image: url('images/icon-document-dark.svg');

	margin-bottom: 4px;

}

.FormUploads__delete {
	margin-left: 10px;
}