// Auth form header

.FormHeader {
  padding-left: $gutter-width/2;
  padding-right: $gutter-width/2;
  margin-bottom: $gutter-width*3;
}

.FormHeader__heading {
  margin-bottom: $gutter-width;
}

.FormHeader__description {
  font-size: 16px;
}
