$item-width: 270px;

.Grid {
  padding-top: $gutter-width;
  padding-bottom: $gutter-width;
  padding-left: $gutter-width/2;
  padding-right: $gutter-width/2;
}

.Grid__heading {
  margin: 0 auto;
  max-width: $content-width;
  margin-bottom: $gutter-width;
}

.Grid__heading__count {
  color: $color-highlight-primary;
}

.Grid__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: $form-width;

  @include above-mobile-landscape {
    
  }

  @include mobile-landscape-and-below {
    justify-content: center;
  }

}

.Grid__items--constrained-width {
  max-width: $content-width;
}

.Grid__items--centered {
  justify-content: center;
}

.Grid__items--border-bottom {
  border-bottom: 1px solid $color-border;
  padding-bottom: $gutter-width*2;
  margin-bottom: $gutter-width*2;
}

.Grid__item {
  width: $item-width;
  display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-basis: auto;
	flex-shrink: 0;

  &:nth-child(4n) {
    margin-right: 0;
  }

  @include above-mobile-landscape {
    padding-bottom: $gutter-width*2;
    margin-right: $gutter-width;
  }

  @include mobile-landscape-and-below {
    padding-bottom: $gutter-width;
  }


}

.Grid__caption {
  margin-top: $gutter-width/2;
  background-repeat: no-repeat;
  background-position:  left center;
  min-height: 20px;
}

.Grid__caption--image {
  padding-left: $gutter-width*1.5;
  background-image: url('images/icon-image-mid.svg');
}
