.Logo {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  flex-shrink: 0;

  @include tablet-portrait-and-up {
    height: 20px;
    width: 150px;
  }

  @include below-tablet-portrait {
    width: 31px;
    height: 31px;
  }

  span {
    display: none;
  }

  .Header--white & {
    @include tablet-portrait-and-up {
      background-image: url('logo-large.svg');
    }
    @include below-tablet-portrait {
      background-image: url('logo-small.svg');
    }
  }

  .Header--transparent & {
    @include tablet-portrait-and-up {
      background-image: url('logo-large-light.svg');
    }
    @include below-tablet-portrait {
      background-image: url('logo-small-light.svg');
    }
  }

}
