.PageHeader {
  padding-left: $gutter-width;
  padding-right: $gutter-width;
  
  @include above-mobile-landscape {
    padding-top: $gutter-width*3;
    padding-bottom: $gutter-width*3;
  }

  @include mobile-landscape-and-below {
    padding-top: $gutter-width*2;
    padding-bottom: $gutter-width*2;
  }

}

.PageHeader__content {
  max-width: $content-width;
  margin: 0 auto;
  display: flex;
  align-items: center;

  @include above-mobile-landscape {
    flex-direction: row;
  }

  @include mobile-landscape-and-below {
    flex-direction: column;
  }

}

.PageHeader__avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;

  @include above-mobile-landscape {
    margin-right: $gutter-width;
  }

  @include mobile-landscape-and-below {
    margin-bottom: $gutter-width/2;
  }

}

.PageHeader__title {

  @include above-mobile-landscape {
    
  }

  @include mobile-landscape-and-below {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.PageHeader__heading {
  @extend h2;

  @include above-mobile-landscape {
    margin-bottom: 4px;
  }

  @include mobile-landscape-and-below {
    margin-bottom: $gutter-width;
  }

  .PageHeader__title--small & {
    font-size: 24px;
    margin-bottom: 0;
  }

}

.PageHeader__sub {
  font-size: 20px;
  color: $color-gray-mid;
  max-width: $form-width;
  margin: 0 auto;

  .PageHeader__title--small & {
    font-size: 16px;
  }

}

.PageHeader__indicators {
  display: flex;
  align-items: center;

  @include above-mobile-landscape {
    margin-left: auto;
  }

  @include mobile-landscape-and-below {
    width: 100%;
    justify-content: center;
  }

}

.PageHeader__indicator {
  background-repeat: no-repeat;
  padding-left: $gutter-width*1.5;
  background-position: center left;
  min-height: 20px;
  margin-left: $gutter-width*2;

  &:first-child {
    margin-left: 0;
  }

}

.PageHeader__indicator--time {
  background-image: url('images/icon-time-mid.svg');
}

.PageHeader__indicator--steps {
  background-image: url('images/icon-check-mid.svg');
}
