.Progress {
  background-color: #F9FAFB;
  padding-left: $gutter-width/2;
  padding-right: $gutter-width/2;
  display: flex;
  align-items: center;
}

.Progress__steps {
  display: flex;
  max-width: $grid-width;
}

.Progress__step {
  padding-top: $gutter-width;
  padding-bottom: $gutter-width;
  padding-left: $gutter-width;
  padding-right: $gutter-width;
  border-bottom: 4px solid transparent;
  margin-right: $gutter-width/2;
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: $gutter-width*1.75;
  background-image: url('images/icon-ellipsis-mid.svg');
}

.Progress__step--active {
  border-bottom: 4px solid $color-highlight-primary;
  background-image: url('images/icon-edit-highlight.svg');
}

.Progress__track {
  margin-left: auto;
  height: 36px;
}

.Progress__status {
  font-size: 14px;
  @include text-medium;
  margin-bottom: 4px;
}
