.RadioButtons {
  flex-grow: 1;
}

.RadioButtons__inputs {
  display: flex;
  margin-right: $gutter-width;
}

.RadioButtons__label {
  margin-bottom: 10px;
  @include text-medium;
  color: $color-gray-mid;
  font-size: 16px;
}

.RadioButton {
  margin-right: -1px;
  flex-grow: 1;
  flex-basis: 0;
}

.RadioButton__input {
  display: none;
}

.RadioButton__label {
  width: 100%;
  border-color: $color-input-border !important;

  &:hover {
    @extend .Button--active;
  }

}

.RadioButton__input:checked ~ .RadioButton__label {
  @extend .Button--active;
  border-color: $color-highlight-primary !important;
}
