.Search {

  .Header--transparent & {
    visibility: hidden;
  }

  @include tablet-portrait-and-up {
    margin-left: auto;
  }

  @include below-tablet-portrait {
    margin: 0 auto;
  }

}

input[type=search].Search__input {
  background-image: url('search-inactive.svg');
  background-repeat: no-repeat;
  border: 1px solid $color-border;
  max-width: 300px;
  padding-right: $gutter-width;

  @include tablet-portrait-and-up {
    background-position: left $gutter-width center;
    height: 55px;
    padding-left: $gutter-width*2.5;
  }

  @include below-tablet-portrait {
    background-position: left $gutter-width/2 center;
    height: 40px;
    padding-left: $gutter-width*1.75;
  }

  &:focus {
    background-image: url('search-active.svg');
    color: $color-main;
    background-color: #FAFAFA;
  }

}
