.SectionPanel {
  width: 50%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-height: 534px;
  background-color: #F9FAFB;
}

.SectionPanel--left {
  order: 1;
}

.SectionPanel--right {
  order: 2;
}

.SectionPanel--color {
  color: #fff;
  background-color: #fefefe;
}

.SectionPanel--blue {
  background-color: $color-blue;
}

.SectionPanel__content {
  padding: $gutter-width*4;
}

.SectionPanel__heading {
  margin-bottom: $gutter-width;
}

.SectionPanel__sub {
  margin-bottom: $gutter-width;
  font-size: 18px;
  @include text-medium;
}

.SectionPanel__description {
  margin-bottom: $gutter-width*2;
  font-size: 16px;
}

.SectionPanel__actions {

}

.SectionPanel__image {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.SectionPanel--text {
  text-align: left;
}

.SectionPanel__bullets {
  display: flex;
  flex-direction: column;
  padding-top: $gutter-width;
  padding-bottom: $gutter-width;
}

.SectionPanel__bullet {
  font-size: 16px;
  margin-bottom: $gutter-width;
  background-image: url('images/icon-check-green.svg');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: $gutter-width*2.5;
  &:last-child {
    margin-bottom: 0;
  }
}
