.SectionColumn {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: $gutter-width;
  padding-left: $gutter-width*2;
  padding-right: $gutter-width*2;

  @include above-mobile-landscape {
    width: (100%/3);
  }

  @include mobile-landscape-and-below {
    width: 100%;
  }

}

.SectionColumn__image {
  margin-bottom: $gutter-width*2;
}

.SectionColumn__title {
  color: $color-highlight-primary;
  margin-bottom: $gutter-width;
}

.SectionColumn__description {

}
