.SectionPanel {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  background-color: #F9FAFB;

  @include above-mobile-landscape {
    width: 50%;
    min-height: 534px;
  }

  @include mobile-landscape-and-below {
    width: 100%;
  }

}

.SectionPanel--left {

  @include above-mobile-landscape {
    order: 1;
  }

  @include mobile-landscape-and-below {

  }

}

.SectionPanel--right {


  @include above-mobile-landscape {
    order: 2;
  }

  @include mobile-landscape-and-below {

  }

}

.SectionPanel--image {

  @include above-mobile-landscape {

  }

  @include mobile-landscape-and-below {
    order: 1;
  }

}

.SectionPanel--text {

  @include above-mobile-landscape {

  }

  @include mobile-landscape-and-below {
    order: 2;
  }

}

.SectionPanel--color {
  color: #fff;
  background-color: #fefefe;
}

.SectionPanel--blue {
  background-color: $color-blue;
}

.SectionPanel__content {

  @include above-mobile-landscape {
    padding: $gutter-width*4;
  }

  @include mobile-landscape-and-below {
    padding: $gutter-width*3 $gutter-width*2;
  }

}

.SectionPanel__heading {
  margin-bottom: $gutter-width;
}

.SectionPanel__sub {
  margin-bottom: $gutter-width;

  @include above-mobile-landscape {
    font-size: 18px;
    @include text-medium;
  }

  @include mobile-landscape-and-below {
    font-size: 16px;
  }

}

.SectionPanel__description {
  margin-bottom: $gutter-width*2;
  font-size: 16px;
}

.SectionPanel__actions {
  display: flex;
  justify-content: flex-start;

  @include above-mobile-landscape {

  }

  @include mobile-landscape-and-below {

  }

}

.SectionPanel__image {
  display: block;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;

  @include above-mobile-landscape {

  }

  @include mobile-landscape-and-below {
    min-height: 320px;
  }

}

.SectionPanel--text {
  text-align: left;
}

.SectionPanel__bullets {
  display: flex;
  flex-direction: column;
  padding-top: $gutter-width;
  padding-bottom: $gutter-width;
}

.SectionPanel__bullet {
  font-size: 16px;
  margin-bottom: $gutter-width;
  background-image: url('images/icon-check-green.svg');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: $gutter-width*2.5;
  &:last-child {
    margin-bottom: 0;
  }
}
