.SubHeader {
  background-color: $color-highlight-primary;

  @include above-mobile-landscape {
    padding: $gutter-width;
  }

  @include mobile-landscape-and-below {
    padding: $gutter-width*1.5 $gutter-width;
  }

}

.SubHeader__content {
  margin: 0 auto;
  max-width: $grid-width;
  align-items: center;
  display: flex;
}

.SubHeader__heading {
  @extend h3;
  color: #fff;
}

.SubHeader__tools {
  margin-left: auto;
  
  @include above-mobile-landscape {
    display: flex;
  }

  @include mobile-landscape-and-below {
    display: none;
  }

}

.SubHeader__tool {
  margin-left: $gutter-width/2;
}
