/* Thumb
-------------------------------------------------------------- */

// the standard thumb, appears in grid and carousel

.Thumb {
  width: 270px;
  text-align: left;
  border: 1px solid #E2E2E2;
  border-radius: 2px;
  box-shadow: 0;
  transition: box-shadow .24s ease-in-out;
  position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-basis: auto;
	flex-shrink: 0;

  &:hover {
    box-shadow: 0 0 20px 0 #E2E2E2;
  }
}

.Thumb__image {
  display: block;
  width: 270px;
  height: 202px;
}

.Thumb__content {
  padding: $gutter-width;
}

.Thumb__title {
  display: block;
  font-size: 16px;
  @include text-medium;
  margin-bottom: $gutter-width/2;
}

.Thumb__description {
  font-size: 14px;
  color: $color-gray-verydark;
}

.Thumb__footer {
  padding: $gutter-width;
  padding-top: 0;
  margin-top: auto;
}

