<%= form_tag(lesson_create_path(id: @lesson_obj.id, form_step:3), method: "post", multipart: true, class: "Form") do %>

<%= field_set_tag 'How does this align to standards?', class: 'Form__fieldset' do %>

  <div class="FormFields FormFields--multiple">

    <!-- lesson.standards -->
    <div class="FormField FormField--required">

      <div class="FormField__header">
        <div class="FormField__heading">
          Standard 1
        </div>
        <div class="FormField__action">
          <a href="#">Remove</a>
        </div>
      </div>

      <div class="FormField__info">
        <label class="FormField__label" for="">Standard name</label>
        <div class="FormField__hint">What is the overarching standard</div>
      </div>

      <div class="FormField__input FormField--multiple">
        <%= select(:standard_name, :standard_id, options_for_select(@standards)) %>
      </div>

    </div>

    <div class="FormField FormField--required">

      <div class="FormField__info">
        <label class="FormField__label" for="lesson_name">Description</label>
        <div class="FormField__hint">What is the overarching standard</div>
      </div>

      <div class="FormField__input FormField--multiple">
        <%= text_area(:lesson, "standard_[]", placeholder: '+ Add a new standard', id: 'further_readings_1') %>
        <div class="FormField__instruction">Press  ↵ Return to add</div>
      </div>

    </div>

    <div class="FormFields__actions">
      <a href="#" class="Button Button--secondary">Add a new standard</a>
    </div>

  </div>

  <div class="Form__footer">

    <div class="Form__footer__heading">
      Next up...
    </div>

    <div class="Form__footer__actions">
      <a href="#" class="Button Button--primary">Back to overview</a>
      <button class="Button Button--primary">Add some details</button>
    </div>

  </div>

<% end %>

<% end %>
