<div class="Thumb">

  <a href="#" class="Thumb__image">
    <img src="https://unsplash.it/270/202?image=0" srcset="https://unsplash.it/270/202?image=0 1x, https://unsplash.it/540/404?image=0 2x" class="Image Image--lazy" />
  </a>

  <div class="Thumb__content">

    <a href="#" class="Thumb__title">Title</a>

    <div class="Thumb__description">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    </div>

  </div>

  <div class="Thumb__footer">
    <%= render partial: "components/user_badge", locals: { size: :small } %>
  </div>

</div>
