<nav class="Navigation">
  <ul class="Navigation__items">
    <li class="Navigation__item"><%= active_link_to 'Lessons', lessons_path, class: "Navigation__link", class_active: "Navigation__link--active" %></li>
    <li class="Navigation__item"><%= active_link_to 'People', people_path, class: "Navigation__link", class_active: "Navigation__link--active" %></li>
    <li class="Navigation__item"><%= active_link_to 'Places', places_path, class: "Navigation__link", class_active: "Navigation__link--active" %></li>
    <li class="Navigation__item"><%= active_link_to 'About', about_path, class: "Navigation__link Navigation__link--sub", class_active: "Navigation__link--active" %></li>
  </ul>
</nav>
