/**
  Mixins
**/

@mixin old-clearfix {
  &:before,
  &:after {
    content: “”;
    display: block;
    height: 0;
  }

 &:after { clear: both; }
  zoom: 1; /* IE < 8 */
}

@mixin ul-reset {

 list-style:none;
  padding:0;
  margin:0;

  li {
    margin:0;
    padding:0;
  }
}


@mixin button-base(){
  display:inline-block;
  box-sizing:border-box;
  padding:.9rem 1.2rem .8rem 1.2rem;
  margin:0;
  font-family: $font-base;
  font-size:.8em;
  line-height: 1em;
  font-weight:600;
  text-decoration: none;
  border:none;
  border-radius:2px;
  text-align: center;
  cursor:pointer;
  transition: all .2s;
}

/** Use button mixin to define action modifiers **/

@mixin button($background: $color-blue-hi , $color: #fff, $border-thickness: 0, $border-color: false) {
  background:$background;
  color:$color;

  @if $border-thickness > 0 {
    box-shadow:inset 0 0 0 $border-thickness * 1px $border-color;
  } @else {
    box-shadow:none;
  }
}
