/*doc
---
title: Colors
name: Colors
category: Variables
---

Here you will find the colors defined in the variables file. There is no class defined for each color so you can use the variable anywhere you want, no matter if a background, color, border color or even a shadow.

 <ul class="color-definition-wrapper">
  <li><div style="background:#ffffff;"></div><code>$color-white</code><br>#FFFFFF</li>
  <li><div style="background:#F9FAFB;"></div><code>$color-gray</code><br>#F9FAFB</li>
  <li><div style="background:#F4F4F4;"></div><code>$color-gray-low</code><br>#F4F4F4</li>
  <li><div style="background:#E2E2E2;"></div><code>$color-gray-outlines</code><br>#E2E2E2</li>
  <li><div style="background:#B6B6B6;"></div><code>$color-mid-gray</code><br>#B6B6B6</li>
  <li class="clear"></li>
  <li><div style="background:#62686C;"></div><code>$color-dark-hi</code><br>#62686C</li>
  <li><div style="background:#414042;"></div><code>$color-dark</code><br>#414042</li>
  <li class="clear"></li>
  <li><div style="background:#208D66;"></div><code>$color-green</code><br>#208D66</li>
  <li><div style="background:#0BBA77;"></div><code>$color-green-hi</code><br>#0BBA77</li>
  <li><div style="background:#2E5478;"></div><code>$color-blue</code><br>#2E5478</li>
  <li><div style="background:#14C9C9;"></div><code>$color-blue-hi</code><br>#14C9C9</li>
  <li><div style="background:#19B8B9;"></div><code>$color-blue-hi-dark</code><br>#19B8B9</li>
  <li><div style="background:#259495;"></div><code>$color-blue-hi-darker</code><br>#259495</li>
  <li class="clear"></li>
  <li><div style="background:#FF6B6B;"></div><code>$color-red</code><br>#FF6B6B</li>
  <li><div style="background:#FFA0A0;"></div><code>$color-red-hi</code><br>#FFA0A0</li>
  <li><div style="background:#E9E500;"></div><code>$color-yellow</code><br>#E9E500</li>
  <li><div style="background:#F4D100;"></div><code>$color-yellow-dark</code><br>#F4D100</li>
  <li><div style="background:#F7EF52;"></div><code>$color-yellow-hi</code><br>#F7EF52</li>
  <li class="clear"></li>
  <li><div style="background:#FFFCC6;"></div><code>$color-alert-yellow</code><br>#FFFCC6</li>
  <li><div style="background:#FFDCDC;"></div><code>$color-alert-red</code><br>#FFDCDC</li>
  <li><div style="background:#DAFFF2;"></div><code>$color-alert-green</code><br>#DAFFF2</li>
  <li><div style="background:#C3F5F5;"></div><code>$color-alert-blue</code><br>#C3F5F5</li>
</ul>

*/




/**
  General variables
**/


// Breakpoints

$tablet-breakpoint: 48rem;
$desktop-breakpoint: 64rem;
$large-breakpoint: 80rem;

// Layout settings

$site-max-width:72rem;
$site-inner-padding:1rem;

$gutter-base:2rem;

// Box variables

$border-radius:0;
$box-shadow:0 0 5px rgba(0,0,0,.3);

// Fonts

$font-base: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
$font-headlines: -apple-system-headline, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;

/** Icon font defined in _icons.scss file, so you can easily get rid of it. Here just assign the variable */

$font-icons: 'sco-icon-font';

/** 

A message for the future 
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_lock_black:before {
  content: "\e900";
}
.icon-ic_lock_white_open:before {
  content: "\e901";
}
.icon-ic_lock_black_open:before {
  content: "\e902";
}
**/


$font-icons: 'icons-scopes';

// Base Colors

$color-white:#fff;

$color-gray:#F9FAFB;
$color-gray-low:#F4F4F4;
$color-gray-outlines:#E2E2E2;

$color-dark: #414042;
$color-dark-hi:#62686C;
$color-mid-gray:#B6B6B6;

$color-green:#208D66;
$color-green-hi:#0BBA77;

$color-blue:#2E5478;
$color-blue-hi:#14C9C9;
$color-blue-hi-dark:#19B8B9;
$color-blue-hi-darker:#259495;

$color-red:#FF6B6B;
$color-red-hi:#FFA0A0;

$color-yellow:#E9E500;
$color-yellow-dark:#F4D100;
$color-yellow-hi:#F7EF52;

$color-alert-yellow:#FFFCC6;
$color-alert-red:#FFDCDC;
$color-alert-green:#DAFFF2;
$color-alert-blue:#C3F5F5;

$color-yellow-dark:#F4D100;
$color-gray-outlines:#eeeeee;

