<div class="Confirmation">

  <h3 class="Confirmation__heading">End user License Agreement</h3>

  <div class="Confirmation__content">

    <p>By pressing confirm and creating a profile, you agree for all the content you publish on the platform to be distributed under a <b>Creative Commons Non-Commercial Share-Alike</b> license.</p>

    <p>For more information please read the <a href="#">Terms and conditions</a>.</p>

  </div>

  <div class="ButtonGroup">

      <%= f.submit "Cancel", name: 'previous_button', class: 'Button Button--outline' %>
      <%= f.submit 'Register', class: 'Button Button--primary' %>

  </div>

</div>