/*doc
---
title: Buttons
name: button
category: Elements
---

`<button>` has a default definition. You can use the class `.button` on any `<a>` tag to make a link look like a call to action. By using modifiers you can generate flat and call to action buttons.

| Element                                           | Code snippet                                 | Modifier class             |
|---------------------------------------------------|----------------------------------------------|----------------------------|
| <a class="button">Link button</a>                 | `<a class="button">Action</a>`               | default state              |
| <a class="button button--highlight">Link Highlight</a>      | `<a class="button button--highlight">Action</a>`  | `.button--highlight`            |
| <a class="button button--call">Link Call</a>      | `<a class="button button--call">Action</a>`  | `.button--call`            |
| <a class="button button--inverse">Link Inverse</a>      | `<a class="button button--inverse">Action</a>`  | `.button--negative`            |
| <a class="button button--action">Action button</a>      | `<a class="button button--action">Action</a>`  | `.button--action`            |

## Size modifiers

Add `.button--small` or `.button--large` to modify button appearance. This just changes font-size and paddings, so you can use it on any button/action.


| Element                                                             | Code snippet                                                | Modifier class             |
|---------------------------------------------------------------------|-------------------------------------------------------------|----------------------------|
| <button class="button--large">Flat large button</button>            | `<button class="button--large">Action</button>`             | `.button--large`           |
| <button>Normal button</button>                                      | `<button class="button--call">Action</button>`              | no size modifier           |
| <button class="button--small">Small button</button>                 | `<button class="button--call button--small">Action</button>`| `.button--small`           |


## State modifiers

There are also state modifiers defined. To disable a button, you can either use the `disabled` attirbute or the `button--disabled` class. Which is specially useful for links that look like buttons.

Notice that disabled buttons have **cursor:default** and **pointer-events:none** defined in the css file.


| Element                                                                                 | Code snippet                                              | Modifier class                  |
|-----------------------------------------------------------------------------------------|-----------------------------------------------------------|----------------------------|
| <button class="button" disabled>Disabled button</button>                   | `<button class="button button--flat" disabled>No action</button>`| no modifier (disabled via attribute)            |
| <button class="button button--disabled">Disabled button</button>           | `<button class="button button--flat button--disabled">No action</button>` |  `.button--disabled` |


*/

.button, button {
  @include button-base;
  @include button($color-white,$color-dark-hi,1,$color-gray-outlines);

  &:disabled, &.button--disabled {
    cursor:default;
    pointer-events:none;
  }

  &:hover {
    @include button($color-white,$color-dark-hi,2,$color-blue-hi);
  }

  &:disabled, &.button--disabled {
    @include button($color-gray-low,$color-mid-gray,1,$color-mid-gray);
  }

  &.button--call {
    @include button($color-blue-hi,$color-white);

    &:hover {
      @include button(darken($color-blue-hi,5%),$color-white);
    }

    &:disabled, &.button--disabled {
      @include button($color-gray-low,$color-mid-gray);
    }
  }

  &.button--highlight {
    @include button($color-yellow,$color-dark);

    &:hover {
      @include button($color-yellow-dark,$color-dark);
    }

    &:disabled, &.button--disabled {
      @include button($color-gray-low,$color-mid-gray);
    }
  }

  &.button--inverse {

    @include button($color-blue-hi,$color-white,2,$color-white);

    &:hover {
      @include button($color-white,$color-blue-hi-dark,2,$color-white);
    }

    &:disabled, &.button--disabled {
      @include button($color-blue-hi-dark,$color-blue-hi-darker);
    }

  }

  &.button--action {

    @include button(lighten($color-mid-gray,10%),$color-white);

    &:hover {
      @include button(lighten($color-mid-gray,5%),$color-white);
    }

  }

  &.button--large {
    font-size:1em;
    padding:1rem 1.2rem;
  }

  &.button--small {
    font-size:.7em;
    padding:.6rem 1.2rem .7rem 1.2rem;
  }


}