/*doc
---
title: Inputs
name: input
category: Forms
---

Each `<input>` has a number of built-in states and modifiers. This applies to `[type="text"]`, `[type="password"]` and `[type="email"]`

| Element                                               | Code snippet                                              | Modifier class             |
|-------------------------------------------------------|-----------------------------------------------------------|----------------------------|
| <input type="text" placeholder="Text input">          | `<input type="text" placeholder="Text input">`            | default state              |
| <input type="text" placeholder="Disabled input" disabled> | `<input type="text" placeholder="Text input" disabled>`   | disabled state             |
| <input type="text" class="input--error" placeholder="Error input"> | `<input type="text" class="input--error" placeholder="Error input">`   | `.input--error`             |

Also, a general style modifier is defined for inputs to behave like a single line. Just add `.input--line` and there you go.

## Modifiers

| Element                                               | Code snippet                                              | Modifier class             |
|-------------------------------------------------------|-----------------------------------------------------------|----------------------------|
| <input type="text" class="input--line" placeholder="Text input">          | `<input class="input--line" type="text" placeholder="Text input">`            | `input--line`             |
| <input type="text" class="input--line" placeholder="Disabled input" disabled> | `<input class="input--line" type="text" placeholder="Text input" disabled>`   | `input--line` disabled state            |
| <input type="text" class="input--line input--error" placeholder="Error input"> | `<input type="text" class="input--line input--error" placeholder="Error input">`   | `input--line input--error`             |

*/

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  border:$color-gray-outlines 1px solid;
  border-radius:2px;
  font-family:$font-base;
  font-size:.8em;
  display:inline-block;
  font-weight:200;
  letter-spacing:0.03rem;
  box-sizing:border-box;
  width:100%;
  padding:.7rem .8rem .6rem .8rem;
  color:#62686C;
  transition: all .2s ease;
  background:$color-white;

  &:placeholder-shown {
    background:darken($color-white,2%);
  }

  &:hover, 
  &:focus {
    border-color:$color-blue-hi;
    box-shadow: inset 0 0 0 1px $color-blue-hi;
  }

  &:focus {
    outline:none;
  }

  &::placeholder {
    color:$color-mid-gray;
  }

  &:disabled {
    border-color:$color-gray-outlines;
    cursor:default;
    pointer-events:none;
    background:url(icons/icon_lock_black.svg) .6rem no-repeat;
    padding-left:2rem;
    background-size:12px;
  }

  &.input--higher {
    font-size:1.15rem;
    font-weight:300;
    padding:1rem .8rem 1rem .8rem;
  }

  &.input--error {
    border:$color-red 1px solid;
    box-shadow: inset 0 0 1px $color-red;
    background:$color-alert-red;
    color:$color-dark;

    &::placeholder {
      color:$color-dark;
    }
  }

  &.input--line {
    background:none;
    box-shadow:none;
    border-width:0;
    border-radius: 0;
    border-bottom:1px solid $color-dark-hi;
    box-sizing:border-box;
    padding-left:0;
    padding-right:0;
    font-size:.9em;

    &:placeholder-shown {
      border-bottom: $color-gray-outlines 1px solid;
    }

    &:hover {
      border-bottom:1px solid $color-yellow;
      box-shadow:0 1px 0  $color-yellow;
    }

    &.input--error {
      border-bottom:1px solid $color-red;
      box-shadow:0 1px 0px $color-red;
    }

  }
}

.field--xs {
  width:6%;
  float:left;
  padding-right:2%;
}

.field--xl {
  width:92%;
  float:left;
}

select {
  outline: none;
  background: #fff;
  -moz-appearance: window;
  -webkit-appearance: none;
  border-radius: 0px;
  text-overflow: "";
  background-image: url('icons/icon_keyboard_arrow_down_black.svg');
  background-size: auto 8px;
  background-repeat: no-repeat;
  background-position: 98% 15px;
  cursor: pointer;
  width: 100%;
  padding: .7rem .8rem .6rem .8rem;
  padding-right: .7rem .8rem .6rem .8rem\9;      /* This will be apllied only to IE 7, IE 8 and IE 9 as */
}

textarea {
  height:250px;
  &.textarea--short {
    height:90px;
  }
}

.textarea--counter {

  position:absolute;
  bottom:1rem;
  right:2rem;

  color:$color-mid-gray;
  font-size:.7em;

  em {
    font-style:normal;
    color:$color-dark-hi;
  }
}

input[type="submit"] {
  @include button;
}

fieldset {
  @include clearfix;
  border-bottom:1px solid $color-gray-outlines;
  padding:2em 0 1em 0;
  margin:2em 0;

  &:last-child {
    border:none;
  }

  &:hover {
    legend h3 {
      opacity:1;
    }

    h4 {
      opacity:1;
    }
  }

  h4 {
    margin:0;
    opacity:.6;
    transition:opacity .2s;
  }

  legend {
    @include clearfix;
    padding:0;
    margin:0;
    width:100%;

    h3 {
      margin:0;
      float:left;
      opacity:.6;
      transition:opacity .2s;
    }

    small {
      color:$color-blue-hi;
      font-weight:200;
      font-size:.8rem;
      float:right;
      display:block;
      padding-top:.3rem;
    }

  } 

  .field-group {
    @include clearfix;
    margin:1em 0;

    & > label {
      color:$color-dark;
      line-height:1.2em;
      font-weight:400;
      font-size:1.125em;
      opacity:.6;
      transition:opacity .2s;

      @include breakpoint($tablet-breakpoint){
        @include span(3 of 12);
      }

      small {
        color:$color-mid-gray;
        display:block;
        font-size:.7em;
        font-weight:200;
      }   

    }

    & > .image-uploader-wrapper {
      @include breakpoint($tablet-breakpoint){
        @include span(9 of 12 last);
      }
    }

    &:hover {
      label {
        opacity:1;
      }
    }

    .field-wrapper {
      position:relative;
      small {
        display:block;
        text-align: right;
        font-size:.7em;
        color:$color-mid-gray;
      }
    }


  }

  .field-group--support {

    margin-top:1em;
    margin-bottom:.5em;

    input[type="file"] {
      display:none;
    }

    label {
      float:none;
      width:100%;
      margin:auto;
      font-size:.7em;
      color:$color-mid-gray;
    }

    .field-wrapper {
      float:none;
      width:100%;
      margin:auto;
    }
  }

  .field-wrapper {

    margin-bottom:2rem;
    @include clearfix;

    @include breakpoint($tablet-breakpoint) {
      @include span(9 of 12 last);
    }
  }

}

.field--image-gallery {
  margin-top:2em;
  @include clearfix;

  figure {

    position:relative;
    width:265px;
    height:210px;
    box-sizing:border-box;
    float:left;
    margin:.3em;
    margin-bottom:2em;

    &.ui-sortable-helper {
      a.action--delete,
      .label--cover-image {
        display:none;
      }
    }

    a.action--delete {
      opacity:.5;
      transform:scale(0,0);
      transition: transform .2s, opacity .2s;
    }


    .image--container {
      width:265px;
      height:200px;
      overflow:hidden;
      background:$color-gray;
      background-size:cover;
      background-position:center center;
    }

    //@include gallery(3 of 12);


    figcaption {
      margin-top:1em;
      font-size:.8em;
      line-height:1em;
      color:$color-mid-gray;
    }

    .image--container {
      border-radius:2px;
      transition: box-shadow .2s;
    }

    &:hover {
      a.action--delete {
        opacity:1;
        transform:scale(1,1);
      }
      .image--container {
        box-shadow:0 0 2px 1px $color-blue-hi;
      }
    }

    span.label {
      position:absolute;
      top:1em;
      left:1em;
    }

    a.action--delete {
      position:absolute;
      top:1em;
      right:1em;
    }

  }
}

.form--actions-related {
  display:flex;
  align-items: center;
}


a.form--remove-element {

  color:$color-mid-gray;
  text-decoration: none;
  font-size:.9em;
  line-height:1em;
  margin-left:1em;

  &:hover {
    color:$color-dark-hi;
  }

  span {
    display:none;
  }
}

.clone-container{
  input{
    margin-bottom: 1em;
  }
}

.checkbox{
  float: left;
  margin: 25px;
}
#difficulty{
  .field-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .radio{
      float: left;
      margin: 5px;
    }
    .radio-group {
      small {
        text-align: left;
      }
    }
  }
}


.image-uploader-wrapper {
  .dropzone {
    background:$color-gray;
    border:1px dashed $color-gray-outlines;
    display:flex;
    align-items:center;
    height:6.5em;
    padding:2em;
    text-align: center;
    box-sizing:border-box;
    transition: background-color .2s, border-color .2s;

    &:hover {
      cursor:pointer;
    }

    &.in, &:hover {
      background:darken($color-gray,2%);
      border-color:darken($color-gray-outlines,2%);
    }

    &.hover {
      background:darken($color-gray,5%);
      border-color:darken($color-gray-outlines,5%);
    }

    p {
      width:100%;
      margin:0;
      line-height:1.2em;
      font-size:.875rem;
      color:$color-mid-gray;
    }
  }

  input[type="file"]{
    display:none;
  }
}