/*doc
---
title: Icons
name: icons
category: Elements
---

ab ucib us


|Element | Code snippet | Class | SVG File |
|--------|--------------|-------|----------|
|<i class="icon-ic_add_box_black_24px"></i>|`<i class="icon-ic_add_box_black_24px"></i>`  | `.icon-ic_add_box_black_24px` |`icon-ic_add_box_black_24px.svg`|
|<i class="icon-ic_add_circle_black_24px"></i>|`<i class="icon-ic_add_circle_black_24px"></i>`  | `.icon-ic_add_circle_black_24px` |`icon-ic_add_circle_black_24px.svg`|
|<i class="icon-ic_add_circle_outline_black_24px"></i>|`<i class="icon-ic_add_circle_outline_black_24px"></i>`  | `.icon-ic_add_circle_outline_black_24px` |`icon-ic_add_circle_outline_black_24px.svg`|
|<i class="icon-ic_add_location_black_24px"></i>|`<i class="icon-ic_add_location_black_24px"></i>`  | `.icon-ic_add_location_black_24px` |`icon-ic_add_location_black_24px.svg`|
|<i class="icon-ic_add_to_photos_black_24px"></i>|`<i class="icon-ic_add_to_photos_black_24px"></i>`  | `.icon-ic_add_to_photos_black_24px` |`icon-ic_add_to_photos_black_24px.svg`|
|<i class="icon-ic_announcement_black_24px"></i>|`<i class="icon-ic_announcement_black_24px"></i>`  | `.icon-ic_announcement_black_24px` |`icon-ic_announcement_black_24px.svg`|
|<i class="icon-ic_arrow_downward_black_24px"></i>|`<i class="icon-ic_arrow_downward_black_24px"></i>`  | `.icon-ic_arrow_downward_black_24px` |`icon-ic_arrow_downward_black_24px.svg`|
|<i class="icon-ic_arrow_drop_down_black_24px"></i>|`<i class="icon-ic_arrow_drop_down_black_24px"></i>`  | `.icon-ic_arrow_drop_down_black_24px` |`icon-ic_arrow_drop_down_black_24px.svg`|
|<i class="icon-ic_attach_file_black_24px"></i>|`<i class="icon-ic_attach_file_black_24px"></i>`  | `.icon-ic_attach_file_black_24px` |`icon-ic_attach_file_black_24px.svg`|
|<i class="icon-ic_autorenew_black_24px"></i>|`<i class="icon-ic_autorenew_black_24px"></i>`  | `.icon-ic_autorenew_black_24px` |`icon-ic_autorenew_black_24px.svg`|
|<i class="icon-ic_backspace_black_24px"></i>|`<i class="icon-ic_backspace_black_24px"></i>`  | `.icon-ic_backspace_black_24px` |`icon-ic_backspace_black_24px.svg`|
|<i class="icon-ic_backup_black_24px"></i>|`<i class="icon-ic_backup_black_24px"></i>`  | `.icon-ic_backup_black_24px` |`icon-ic_backup_black_24px.svg`|
|<i class="icon-ic_bookmark_black_24px"></i>|`<i class="icon-ic_bookmark_black_24px"></i>`  | `.icon-ic_bookmark_black_24px` |`icon-ic_bookmark_black_24px.svg`|
|<i class="icon-ic_cancel_black_24px"></i>|`<i class="icon-ic_cancel_black_24px"></i>`  | `.icon-ic_cancel_black_24px` |`icon-ic_cancel_black_24px.svg`|
|<i class="icon-ic_chat_black_24px"></i>|`<i class="icon-ic_chat_black_24px"></i>`  | `.icon-ic_chat_black_24px` |`icon-ic_chat_black_24px.svg`|
|<i class="icon-ic_chat_bubble_black_24px"></i>|`<i class="icon-ic_chat_bubble_black_24px"></i>`  | `.icon-ic_chat_bubble_black_24px` |`icon-ic_chat_bubble_black_24px.svg`|
|<i class="icon-ic_check_box_black_24px"></i>|`<i class="icon-ic_check_box_black_24px"></i>`  | `.icon-ic_check_box_black_24px` |`icon-ic_check_box_black_24px.svg`|
|<i class="icon-ic_check_box_outline_blank_black_24px"></i>|`<i class="icon-ic_check_box_outline_blank_black_24px"></i>`  | `.icon-ic_check_box_outline_blank_black_24px` |`icon-ic_check_box_outline_blank_black_24px.svg`|
|<i class="icon-ic_chevron_left_black_24px"></i>|`<i class="icon-ic_chevron_left_black_24px"></i>`  | `.icon-ic_chevron_left_black_24px` |`icon-ic_chevron_left_black_24px.svg`|
|<i class="icon-ic_chevron_right_black_24px"></i>|`<i class="icon-ic_chevron_right_black_24px"></i>`  | `.icon-ic_chevron_right_black_24px` |`icon-ic_chevron_right_black_24px.svg`|
|<i class="icon-ic_cloud_black_24px"></i>|`<i class="icon-ic_cloud_black_24px"></i>`  | `.icon-ic_cloud_black_24px` |`icon-ic_cloud_black_24px.svg`|
|<i class="icon-ic_create_new_folder_black_24px"></i>|`<i class="icon-ic_create_new_folder_black_24px"></i>`  | `.icon-ic_create_new_folder_black_24px` |`icon-ic_create_new_folder_black_24px.svg`|
|<i class="icon-ic_delete_black_24px"></i>|`<i class="icon-ic_delete_black_24px"></i>`  | `.icon-ic_delete_black_24px` |`icon-ic_delete_black_24px.svg`|
|<i class="icon-ic_email_black_24px"></i>|`<i class="icon-ic_email_black_24px"></i>`  | `.icon-ic_email_black_24px` |`icon-ic_email_black_24px.svg`|
|<i class="icon-ic_exit_to_app_black_24px"></i>|`<i class="icon-ic_exit_to_app_black_24px"></i>`  | `.icon-ic_exit_to_app_black_24px` |`icon-ic_exit_to_app_black_24px.svg`|
|<i class="icon-ic_feedback_black_24px"></i>|`<i class="icon-ic_feedback_black_24px"></i>`  | `.icon-ic_feedback_black_24px` |`icon-ic_feedback_black_24px.svg`|
|<i class="icon-ic_file_upload_black_24px"></i>|`<i class="icon-ic_file_upload_black_24px"></i>`  | `.icon-ic_file_upload_black_24px` |`icon-ic_file_upload_black_24px.svg`|
|<i class="icon-ic_first_page_black_24px"></i>|`<i class="icon-ic_first_page_black_24px"></i>`  | `.icon-ic_first_page_black_24px` |`icon-ic_first_page_black_24px.svg`|
|<i class="icon-ic_group_add_black_24px"></i>|`<i class="icon-ic_group_add_black_24px"></i>`  | `.icon-ic_group_add_black_24px` |`icon-ic_group_add_black_24px.svg`|
|<i class="icon-ic_group_black_24px"></i>|`<i class="icon-ic_group_black_24px"></i>`  | `.icon-ic_group_black_24px` |`icon-ic_group_black_24px.svg`|
|<i class="icon-ic_help_black_24px"></i>|`<i class="icon-ic_help_black_24px"></i>`  | `.icon-ic_help_black_24px` |`icon-ic_help_black_24px.svg`|
|<i class="icon-ic_info_black_24px"></i>|`<i class="icon-ic_info_black_24px"></i>`  | `.icon-ic_info_black_24px` |`icon-ic_info_black_24px.svg`|
|<i class="icon-ic_keyboard_arrow_up_black_24px"></i>|`<i class="icon-ic_keyboard_arrow_up_black_24px"></i>`  | `.icon-ic_keyboard_arrow_up_black_24px` |`icon-ic_keyboard_arrow_up_black_24px.svg`|
|<i class="icon-ic_language_black_24px"></i>|`<i class="icon-ic_language_black_24px"></i>`  | `.icon-ic_language_black_24px` |`icon-ic_language_black_24px.svg`|
|<i class="icon-ic_last_page_black_24px"></i>|`<i class="icon-ic_last_page_black_24px"></i>`  | `.icon-ic_last_page_black_24px` |`icon-ic_last_page_black_24px.svg`|
|<i class="icon-ic_lightbulb_outline_black_24px"></i>|`<i class="icon-ic_lightbulb_outline_black_24px"></i>`  | `.icon-ic_lightbulb_outline_black_24px` |`icon-ic_lightbulb_outline_black_24px.svg`|
|<i class="icon-ic_link_black_24px"></i>|`<i class="icon-ic_link_black_24px"></i>`  | `.icon-ic_link_black_24px` |`icon-ic_link_black_24px.svg`|
|<i class="icon-ic_list_black_24px"></i>|`<i class="icon-ic_list_black_24px"></i>`  | `.icon-ic_list_black_24px` |`icon-ic_list_black_24px.svg`|
|<i class="icon-ic_local_offer_black_24px"></i>|`<i class="icon-ic_local_offer_black_24px"></i>`  | `.icon-ic_local_offer_black_24px` |`icon-ic_local_offer_black_24px.svg`|
|<i class="icon-ic_lock_black_24px"></i>|`<i class="icon-ic_lock_black_24px"></i>`  | `.icon-ic_lock_black_24px` |`icon-ic_lock_black_24px.svg`|
|<i class="icon-ic_lock_open_black_24px"></i>|`<i class="icon-ic_lock_open_black_24px"></i>`  | `.icon-ic_lock_open_black_24px` |`icon-ic_lock_open_black_24px.svg`|
|<i class="icon-ic_lock_open_line_black_24px"></i>|`<i class="icon-ic_lock_open_line_black_24px"></i>`  | `.icon-ic_lock_open_line_black_24px` |`icon-ic_lock_open_line_black_24px.svg`|
|<i class="icon-ic_loop_black_24px"></i>|`<i class="icon-ic_loop_black_24px"></i>`  | `.icon-ic_loop_black_24px` |`icon-ic_loop_black_24px.svg`|
|<i class="icon-ic_mail_outline_black_24px"></i>|`<i class="icon-ic_mail_outline_black_24px"></i>`  | `.icon-ic_mail_outline_black_24px` |`icon-ic_mail_outline_black_24px.svg`|
|<i class="icon-ic_menu_black_24px-copy"></i>|`<i class="icon-ic_menu_black_24px-copy"></i>`  | `.icon-ic_menu_black_24px-copy` |`icon-ic_menu_black_24px-copy.svg`|
|<i class="icon-ic_menu_black_24px"></i>|`<i class="icon-ic_menu_black_24px"></i>`  | `.icon-ic_menu_black_24px` |`icon-ic_menu_black_24px.svg`|
|<i class="icon-ic_more_horiz_black_24px"></i>|`<i class="icon-ic_more_horiz_black_24px"></i>`  | `.icon-ic_more_horiz_black_24px` |`icon-ic_more_horiz_black_24px.svg`|
|<i class="icon-ic_more_vert_black_24px"></i>|`<i class="icon-ic_more_vert_black_24px"></i>`  | `.icon-ic_more_vert_black_24px` |`icon-ic_more_vert_black_24px.svg`|
|<i class="icon-ic_near_me_black_24px"></i>|`<i class="icon-ic_near_me_black_24px"></i>`  | `.icon-ic_near_me_black_24px` |`icon-ic_near_me_black_24px.svg`|
|<i class="icon-ic_new_releases_black_24px"></i>|`<i class="icon-ic_new_releases_black_24px"></i>`  | `.icon-ic_new_releases_black_24px` |`icon-ic_new_releases_black_24px.svg`|
|<i class="icon-ic_notifications_active_black_24px"></i>|`<i class="icon-ic_notifications_active_black_24px"></i>`  | `.icon-ic_notifications_active_black_24px` |`icon-ic_notifications_active_black_24px.svg`|
|<i class="icon-ic_notifications_black_24px"></i>|`<i class="icon-ic_notifications_black_24px"></i>`  | `.icon-ic_notifications_black_24px` |`icon-ic_notifications_black_24px.svg`|
|<i class="icon-ic_notifications_off_black_24px"></i>|`<i class="icon-ic_notifications_off_black_24px"></i>`  | `.icon-ic_notifications_off_black_24px` |`icon-ic_notifications_off_black_24px.svg`|
|<i class="icon-ic_pause_black_24px"></i>|`<i class="icon-ic_pause_black_24px"></i>`  | `.icon-ic_pause_black_24px` |`icon-ic_pause_black_24px.svg`|
|<i class="icon-ic_pause_circle_outline_black_24px"></i>|`<i class="icon-ic_pause_circle_outline_black_24px"></i>`  | `.icon-ic_pause_circle_outline_black_24px` |`icon-ic_pause_circle_outline_black_24px.svg`|
|<i class="icon-ic_person_add_black_24px"></i>|`<i class="icon-ic_person_add_black_24px"></i>`  | `.icon-ic_person_add_black_24px` |`icon-ic_person_add_black_24px.svg`|
|<i class="icon-ic_person_black_24px"></i>|`<i class="icon-ic_person_black_24px"></i>`  | `.icon-ic_person_black_24px` |`icon-ic_person_black_24px.svg`|
|<i class="icon-ic_play_arrow_black_24px"></i>|`<i class="icon-ic_play_arrow_black_24px"></i>`  | `.icon-ic_play_arrow_black_24px` |`icon-ic_play_arrow_black_24px.svg`|
|<i class="icon-ic_play_circle_outline_black_24px"></i>|`<i class="icon-ic_play_circle_outline_black_24px"></i>`  | `.icon-ic_play_circle_outline_black_24px` |`icon-ic_play_circle_outline_black_24px.svg`|
|<i class="icon-ic_publish_black_24px"></i>|`<i class="icon-ic_publish_black_24px"></i>`  | `.icon-ic_publish_black_24px` |`icon-ic_publish_black_24px.svg`|
|<i class="icon-ic_question_answer_black_24px"></i>|`<i class="icon-ic_question_answer_black_24px"></i>`  | `.icon-ic_question_answer_black_24px` |`icon-ic_question_answer_black_24px.svg`|
|<i class="icon-ic_radio_button_checked_black_24px"></i>|`<i class="icon-ic_radio_button_checked_black_24px"></i>`  | `.icon-ic_radio_button_checked_black_24px` |`icon-ic_radio_button_checked_black_24px.svg`|
|<i class="icon-ic_radio_button_unchecked_black_24px"></i>|`<i class="icon-ic_radio_button_unchecked_black_24px"></i>`  | `.icon-ic_radio_button_unchecked_black_24px` |`icon-ic_radio_button_unchecked_black_24px.svg`|
|<i class="icon-ic_remove_black_24px"></i>|`<i class="icon-ic_remove_black_24px"></i>`  | `.icon-ic_remove_black_24px` |`icon-ic_remove_black_24px.svg`|
|<i class="icon-ic_remove_circle_black_24px"></i>|`<i class="icon-ic_remove_circle_black_24px"></i>`  | `.icon-ic_remove_circle_black_24px` |`icon-ic_remove_circle_black_24px.svg`|
|<i class="icon-ic_report_black_24px"></i>|`<i class="icon-ic_report_black_24px"></i>`  | `.icon-ic_report_black_24px` |`icon-ic_report_black_24px.svg`|
|<i class="icon-ic_settings_black_24px"></i>|`<i class="icon-ic_settings_black_24px"></i>`  | `.icon-ic_settings_black_24px` |`icon-ic_settings_black_24px.svg`|
|<i class="icon-ic_skip_next_black_24px"></i>|`<i class="icon-ic_skip_next_black_24px"></i>`  | `.icon-ic_skip_next_black_24px` |`icon-ic_skip_next_black_24px.svg`|
|<i class="icon-ic_skip_previous_black_24px"></i>|`<i class="icon-ic_skip_previous_black_24px"></i>`  | `.icon-ic_skip_previous_black_24px` |`icon-ic_skip_previous_black_24px.svg`|
|<i class="icon-ic_sms_failed_black_24px"></i>|`<i class="icon-ic_sms_failed_black_24px"></i>`  | `.icon-ic_sms_failed_black_24px` |`icon-ic_sms_failed_black_24px.svg`|
|<i class="icon-ic_star_border_black_24px"></i>|`<i class="icon-ic_star_border_black_24px"></i>`  | `.icon-ic_star_border_black_24px` |`icon-ic_star_border_black_24px.svg`|
|<i class="icon-ic_star_half_black_24px"></i>|`<i class="icon-ic_star_half_black_24px"></i>`  | `.icon-ic_star_half_black_24px` |`icon-ic_star_half_black_24px.svg`|
|<i class="icon-ic_stop_black_24px"></i>|`<i class="icon-ic_stop_black_24px"></i>`  | `.icon-ic_stop_black_24px` |`icon-ic_stop_black_24px.svg`|
|<i class="icon-ic_thumb_down_black_24px"></i>|`<i class="icon-ic_thumb_down_black_24px"></i>`  | `.icon-ic_thumb_down_black_24px` |`icon-ic_thumb_down_black_24px.svg`|
|<i class="icon-ic_thumb_up_black_24px"></i>|`<i class="icon-ic_thumb_up_black_24px"></i>`  | `.icon-ic_thumb_up_black_24px` |`icon-ic_thumb_up_black_24px.svg`|
|<i class="icon-ic_vertical_align_bottom_black_24px"></i>|`<i class="icon-ic_vertical_align_bottom_black_24px"></i>`  | `.icon-ic_vertical_align_bottom_black_24px` |`icon-ic_vertical_align_bottom_black_24px.svg`|
|<i class="icon-ic_view_list_black_24px"></i>|`<i class="icon-ic_view_list_black_24px"></i>`  | `.icon-ic_view_list_black_24px` |`icon-ic_view_list_black_24px.svg`|
|<i class="icon-ic_visibility_black_24px"></i>|`<i class="icon-ic_visibility_black_24px"></i>`  | `.icon-ic_visibility_black_24px` |`icon-ic_visibility_black_24px.svg`|
|<i class="icon-ic_visibility_off_black_24px"></i>|`<i class="icon-ic_visibility_off_black_24px"></i>`  | `.icon-ic_visibility_off_black_24px` |`icon-ic_visibility_off_black_24px.svg`|
|<i class="icon-ic_volume_off_black_24px"></i>|`<i class="icon-ic_volume_off_black_24px"></i>`  | `.icon-ic_volume_off_black_24px` |`icon-ic_volume_off_black_24px.svg`|
|<i class="icon-ic_volume_up_black_24px"></i>|`<i class="icon-ic_volume_up_black_24px"></i>`  | `.icon-ic_volume_up_black_24px` |`icon-ic_volume_up_black_24px.svg`|
|<i class="icon-ic_warning_black_24px"></i>|`<i class="icon-ic_warning_black_24px"></i>`  | `.icon-ic_warning_black_24px` |`icon-ic_warning_black_24px.svg`|
|<i class="icon-Add-Photo"></i>|`<i class="icon-Add-Photo"></i>`  | `.icon-Add-Photo` |`icon-Add-Photo.svg`|
|<i class="icon-Add"></i>|`<i class="icon-Add"></i>`  | `.icon-Add` |`icon-Add.svg`|
|<i class="icon-Alert"></i>|`<i class="icon-Alert"></i>`  | `.icon-Alert` |`icon-Alert.svg`|
|<i class="icon-Arrow-Right"></i>|`<i class="icon-Arrow-Right"></i>`  | `.icon-Arrow-Right` |`icon-Arrow-Right.svg`|
|<i class="icon-Badge-Verified"></i>|`<i class="icon-Badge-Verified"></i>`  | `.icon-Badge-Verified` |`icon-Badge-Verified.svg`|
|<i class="icon-Chat"></i>|`<i class="icon-Chat"></i>`  | `.icon-Chat` |`icon-Chat.svg`|
|<i class="icon-Clock"></i>|`<i class="icon-Clock"></i>`  | `.icon-Clock` |`icon-Clock.svg`|
|<i class="icon-Direction-Down"></i>|`<i class="icon-Direction-Down"></i>`  | `.icon-Direction-Down` |`icon-Direction-Down.svg`|
|<i class="icon-DIrection-Left"></i>|`<i class="icon-DIrection-Left"></i>`  | `.icon-DIrection-Left` |`icon-DIrection-Left.svg`|
|<i class="icon-Direction-Right"></i>|`<i class="icon-Direction-Right"></i>`  | `.icon-Direction-Right` |`icon-Direction-Right.svg`|
|<i class="icon-Direction-Up-Copy"></i>|`<i class="icon-Direction-Up-Copy"></i>`  | `.icon-Direction-Up-Copy` |`icon-Direction-Up-Copy.svg`|
|<i class="icon-Direction-Up"></i>|`<i class="icon-Direction-Up"></i>`  | `.icon-Direction-Up` |`icon-Direction-Up.svg`|
|<i class="icon-Done"></i>|`<i class="icon-Done"></i>`  | `.icon-Done` |`icon-Done.svg`|
|<i class="icon-Download"></i>|`<i class="icon-Download"></i>`  | `.icon-Download` |`icon-Download.svg`|
|<i class="icon-Drag"></i>|`<i class="icon-Drag"></i>`  | `.icon-Drag` |`icon-Drag.svg`|
|<i class="icon-Edit"></i>|`<i class="icon-Edit"></i>`  | `.icon-Edit` |`icon-Edit.svg`|
|<i class="icon-EllpsisHorizontal"></i>|`<i class="icon-EllpsisHorizontal"></i>`  | `.icon-EllpsisHorizontal` |`icon-EllpsisHorizontal.svg`|
|<i class="icon-EllpsisVertical"></i>|`<i class="icon-EllpsisVertical"></i>`  | `.icon-EllpsisVertical` |`icon-EllpsisVertical.svg`|
|<i class="icon-Engineering"></i>|`<i class="icon-Engineering"></i>`  | `.icon-Engineering` |`icon-Engineering.svg`|
|<i class="icon-File"></i>|`<i class="icon-File"></i>`  | `.icon-File` |`icon-File.svg`|
|<i class="icon-Flag"></i>|`<i class="icon-Flag"></i>`  | `.icon-Flag` |`icon-Flag.svg`|
|<i class="icon-Fork"></i>|`<i class="icon-Fork"></i>`  | `.icon-Fork` |`icon-Fork.svg`|
|<i class="icon-Globe"></i>|`<i class="icon-Globe"></i>`  | `.icon-Globe` |`icon-Globe.svg`|
|<i class="icon-Grid"></i>|`<i class="icon-Grid"></i>`  | `.icon-Grid` |`icon-Grid.svg`|
|<i class="icon-Heart"></i>|`<i class="icon-Heart"></i>`  | `.icon-Heart` |`icon-Heart.svg`|
|<i class="icon-image"></i>|`<i class="icon-image"></i>`  | `.icon-image` |`icon-image.svg`|
|<i class="icon-Info"></i>|`<i class="icon-Info"></i>`  | `.icon-Info` |`icon-Info.svg`|
|<i class="icon-Invisible"></i>|`<i class="icon-Invisible"></i>`  | `.icon-Invisible` |`icon-Invisible.svg`|
|<i class="icon-Lesson"></i>|`<i class="icon-Lesson"></i>`  | `.icon-Lesson` |`icon-Lesson.svg`|
|<i class="icon-Link"></i>|`<i class="icon-Link"></i>`  | `.icon-Link` |`icon-Link.svg`|
|<i class="icon-List"></i>|`<i class="icon-List"></i>`  | `.icon-List` |`icon-List.svg`|
|<i class="icon-Location"></i>|`<i class="icon-Location"></i>`  | `.icon-Location` |`icon-Location.svg`|
|<i class="icon-Lock-unlocked"></i>|`<i class="icon-Lock-unlocked"></i>`  | `.icon-Lock-unlocked` |`icon-Lock-unlocked.svg`|
|<i class="icon-Lock"></i>|`<i class="icon-Lock"></i>`  | `.icon-Lock` |`icon-Lock.svg`|
|<i class="icon-LogOut"></i>|`<i class="icon-LogOut"></i>`  | `.icon-LogOut` |`icon-LogOut.svg`|
|<i class="icon-Mail"></i>|`<i class="icon-Mail"></i>`  | `.icon-Mail` |`icon-Mail.svg`|
|<i class="icon-Maths"></i>|`<i class="icon-Maths"></i>`  | `.icon-Maths` |`icon-Maths.svg`|
|<i class="icon-Menu"></i>|`<i class="icon-Menu"></i>`  | `.icon-Menu` |`icon-Menu.svg`|
|<i class="icon-Navigation"></i>|`<i class="icon-Navigation"></i>`  | `.icon-Navigation` |`icon-Navigation.svg`|
|<i class="icon-Palette"></i>|`<i class="icon-Palette"></i>`  | `.icon-Palette` |`icon-Palette.svg`|
|<i class="icon-Science"></i>|`<i class="icon-Science"></i>`  | `.icon-Science` |`icon-Science.svg`|
|<i class="icon-Search"></i>|`<i class="icon-Search"></i>`  | `.icon-Search` |`icon-Search.svg`|
|<i class="icon-Sort"></i>|`<i class="icon-Sort"></i>`  | `.icon-Sort` |`icon-Sort.svg`|
|<i class="icon-SortAlpha"></i>|`<i class="icon-SortAlpha"></i>`  | `.icon-SortAlpha` |`icon-SortAlpha.svg`|
|<i class="icon-Star"></i>|`<i class="icon-Star"></i>`  | `.icon-Star` |`icon-Star.svg`|
|<i class="icon-Technology"></i>|`<i class="icon-Technology"></i>`  | `.icon-Technology` |`icon-Technology.svg`|
|<i class="icon-Tool"></i>|`<i class="icon-Tool"></i>`  | `.icon-Tool` |`icon-Tool.svg`|
|<i class="icon-Trash"></i>|`<i class="icon-Trash"></i>`  | `.icon-Trash` |`icon-Trash.svg`|
|<i class="icon-Upload"></i>|`<i class="icon-Upload"></i>`  | `.icon-Upload` |`icon-Upload.svg`|
|<i class="icon-User"></i>|`<i class="icon-User"></i>`  | `.icon-User` |`icon-User.svg`|
|<i class="icon-Users"></i>|`<i class="icon-Users"></i>`  | `.icon-Users` |`icon-Users.svg`|

*/

@font-face {
  font-family: 'sco-icon-font';
  src:  url('sco-icon-font.eot?fu578m');
  src:  url('sco-icon-font.eot?fu578m#iefix') format('embedded-opentype'),
    url('sco-icon-font.ttf?fu578m') format('truetype'),
    url('sco-icon-font.woff?fu578m') format('woff'),
    url('sco-icon-font.svg?fu578m#sco-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}


$icon-ic_add_box_black_24px: "\e900";
$icon-ic_add_circle_black_24px: "\e901";
$icon-ic_add_circle_outline_black_24px: "\e902";
$icon-ic_add_location_black_24px: "\e903";
$icon-ic_add_to_photos_black_24px: "\e904";
$icon-ic_announcement_black_24px: "\e905";
$icon-ic_arrow_downward_black_24px: "\e906";
$icon-ic_arrow_drop_down_black_24px: "\e907";
$icon-ic_attach_file_black_24px: "\e908";
$icon-ic_autorenew_black_24px: "\e909";
$icon-ic_backspace_black_24px: "\e90a";
$icon-ic_backup_black_24px: "\e90b";
$icon-ic_bookmark_black_24px: "\e90c";
$icon-ic_cancel_black_24px: "\e90d";
$icon-ic_chat_black_24px: "\e90e";
$icon-ic_chat_bubble_black_24px: "\e90f";
$icon-ic_check_box_black_24px: "\e910";
$icon-ic_check_box_outline_blank_black_24px: "\e911";
$icon-ic_chevron_left_black_24px: "\e912";
$icon-ic_chevron_right_black_24px: "\e913";
$icon-ic_cloud_black_24px: "\e914";
$icon-ic_create_new_folder_black_24px: "\e915";
$icon-ic_delete_black_24px: "\e916";
$icon-ic_email_black_24px: "\e917";
$icon-ic_exit_to_app_black_24px: "\e918";
$icon-ic_feedback_black_24px: "\e919";
$icon-ic_file_upload_black_24px: "\e91a";
$icon-ic_first_page_black_24px: "\e91b";
$icon-ic_group_add_black_24px: "\e91c";
$icon-ic_group_black_24px: "\e91d";
$icon-ic_help_black_24px: "\e91e";
$icon-ic_info_black_24px: "\e91f";
$icon-ic_keyboard_arrow_up_black_24px: "\e920";
$icon-ic_language_black_24px: "\e921";
$icon-ic_last_page_black_24px: "\e922";
$icon-ic_lightbulb_outline_black_24px: "\e923";
$icon-ic_link_black_24px: "\e924";
$icon-ic_list_black_24px: "\e925";
$icon-ic_local_offer_black_24px: "\e926";
$icon-ic_lock_black_24px: "\e927";
$icon-ic_lock_open_black_24px: "\e928";
$icon-ic_lock_open_line_black_24px: "\e929";
$icon-ic_loop_black_24px: "\e92a";
$icon-ic_mail_outline_black_24px: "\e92b";
$icon-ic_menu_black_24px-copy: "\e92c";
$icon-ic_menu_black_24px: "\e92d";
$icon-ic_more_horiz_black_24px: "\e92e";
$icon-ic_more_vert_black_24px: "\e92f";
$icon-ic_near_me_black_24px: "\e930";
$icon-ic_new_releases_black_24px: "\e931";
$icon-ic_notifications_active_black_24px: "\e932";
$icon-ic_notifications_black_24px: "\e933";
$icon-ic_notifications_off_black_24px: "\e934";
$icon-ic_pause_black_24px: "\e935";
$icon-ic_pause_circle_outline_black_24px: "\e936";
$icon-ic_person_add_black_24px: "\e937";
$icon-ic_person_black_24px: "\e938";
$icon-ic_play_arrow_black_24px: "\e939";
$icon-ic_play_circle_outline_black_24px: "\e93a";
$icon-ic_publish_black_24px: "\e93b";
$icon-ic_question_answer_black_24px: "\e93c";
$icon-ic_radio_button_checked_black_24px: "\e93d";
$icon-ic_radio_button_unchecked_black_24px: "\e93e";
$icon-ic_remove_black_24px: "\e93f";
$icon-ic_remove_circle_black_24px: "\e940";
$icon-ic_report_black_24px: "\e941";
$icon-ic_settings_black_24px: "\e942";
$icon-ic_skip_next_black_24px: "\e943";
$icon-ic_skip_previous_black_24px: "\e944";
$icon-ic_sms_failed_black_24px: "\e945";
$icon-ic_star_border_black_24px: "\e946";
$icon-ic_star_half_black_24px: "\e947";
$icon-ic_stop_black_24px: "\e948";
$icon-ic_thumb_down_black_24px: "\e949";
$icon-ic_thumb_up_black_24px: "\e94a";
$icon-ic_vertical_align_bottom_black_24px: "\e94b";
$icon-ic_view_list_black_24px: "\e94c";
$icon-ic_visibility_black_24px: "\e94d";
$icon-ic_visibility_off_black_24px: "\e94e";
$icon-ic_volume_off_black_24px: "\e94f";
$icon-ic_volume_up_black_24px: "\e950";
$icon-ic_warning_black_24px: "\e951";
$icon-Add-Photo: "\e952";
$icon-Add: "\e953";
$icon-Alert: "\e954";
$icon-Arrow-Right: "\e955";
$icon-Badge-Verified: "\e958";
$icon-Chat: "\e959";
$icon-Clock: "\e95a";
$icon-Direction-Down: "\e95b";
$icon-DIrection-Left: "\e95c";
$icon-Direction-Right: "\e95d";
$icon-Direction-Up-Copy: "\e95e";
$icon-Direction-Up: "\e95f";
$icon-Done: "\e960";
$icon-Download: "\e961";
$icon-Drag: "\e962";
$icon-Edit: "\e963";
$icon-EllpsisHorizontal: "\e964";
$icon-EllpsisVertical: "\e965";
$icon-Engineering: "\e966";
$icon-File: "\e967";
$icon-Flag: "\e968";
$icon-Fork: "\e969";
$icon-Globe: "\e96a";
$icon-Grid: "\e96b";
$icon-Heart: "\e96c";
$icon-image: "\e96d";
$icon-Info: "\e96e";
$icon-Invisible: "\e96f";
$icon-Lesson: "\e970";
$icon-Link: "\e971";
$icon-List: "\e972";
$icon-Location: "\e973";
$icon-Lock-unlocked: "\e974";
$icon-Lock: "\e975";
$icon-LogOut: "\e976";
$icon-Mail: "\e977";
$icon-Maths: "\e978";
$icon-Menu: "\e979";
$icon-Navigation: "\e97a";
$icon-Palette: "\e97b";
$icon-Science: "\e97c";
$icon-Search: "\e97d";
$icon-Sort: "\e97e";
$icon-SortAlpha: "\e97f";
$icon-Star: "\e980";
$icon-Technology: "\e981";
$icon-Tool: "\e982";
$icon-Trash: "\e983";
$icon-Upload: "\e984";
$icon-User: "\e985";
$icon-Users: "\e986";





[class*="icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sco-icon-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size:24px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_add_box_black_24px {
  &:before {
    content: $icon-ic_add_box_black_24px;
  }
}
.icon-ic_add_circle_black_24px {
  &:before {
    content: $icon-ic_add_circle_black_24px;
  }
}
.icon-ic_add_circle_outline_black_24px {
  &:before {
    content: $icon-ic_add_circle_outline_black_24px;
  }
}
.icon-ic_add_location_black_24px {
  &:before {
    content: $icon-ic_add_location_black_24px;
  }
}
.icon-ic_add_to_photos_black_24px {
  &:before {
    content: $icon-ic_add_to_photos_black_24px;
  }
}
.icon-ic_announcement_black_24px {
  &:before {
    content: $icon-ic_announcement_black_24px;
  }
}
.icon-ic_arrow_downward_black_24px {
  &:before {
    content: $icon-ic_arrow_downward_black_24px;
  }
}
.icon-ic_arrow_drop_down_black_24px {
  &:before {
    content: $icon-ic_arrow_drop_down_black_24px;
  }
}
.icon-ic_attach_file_black_24px {
  &:before {
    content: $icon-ic_attach_file_black_24px;
  }
}
.icon-ic_autorenew_black_24px {
  &:before {
    content: $icon-ic_autorenew_black_24px;
  }
}
.icon-ic_backspace_black_24px {
  &:before {
    content: $icon-ic_backspace_black_24px;
  }
}
.icon-ic_backup_black_24px {
  &:before {
    content: $icon-ic_backup_black_24px;
  }
}
.icon-ic_bookmark_black_24px {
  &:before {
    content: $icon-ic_bookmark_black_24px;
  }
}
.icon-ic_cancel_black_24px {
  &:before {
    content: $icon-ic_cancel_black_24px;
  }
}
.icon-ic_chat_black_24px {
  &:before {
    content: $icon-ic_chat_black_24px;
  }
}
.icon-ic_chat_bubble_black_24px {
  &:before {
    content: $icon-ic_chat_bubble_black_24px;
  }
}
.icon-ic_check_box_black_24px {
  &:before {
    content: $icon-ic_check_box_black_24px;
  }
}
.icon-ic_check_box_outline_blank_black_24px {
  &:before {
    content: $icon-ic_check_box_outline_blank_black_24px;
  }
}
.icon-ic_chevron_left_black_24px {
  &:before {
    content: $icon-ic_chevron_left_black_24px;
  }
}
.icon-ic_chevron_right_black_24px {
  &:before {
    content: $icon-ic_chevron_right_black_24px;
  }
}
.icon-ic_cloud_black_24px {
  &:before {
    content: $icon-ic_cloud_black_24px;
  }
}
.icon-ic_create_new_folder_black_24px {
  &:before {
    content: $icon-ic_create_new_folder_black_24px;
  }
}
.icon-ic_delete_black_24px {
  &:before {
    content: $icon-ic_delete_black_24px;
  }
}
.icon-ic_email_black_24px {
  &:before {
    content: $icon-ic_email_black_24px;
  }
}
.icon-ic_exit_to_app_black_24px {
  &:before {
    content: $icon-ic_exit_to_app_black_24px;
  }
}
.icon-ic_feedback_black_24px {
  &:before {
    content: $icon-ic_feedback_black_24px;
  }
}
.icon-ic_file_upload_black_24px {
  &:before {
    content: $icon-ic_file_upload_black_24px;
  }
}
.icon-ic_first_page_black_24px {
  &:before {
    content: $icon-ic_first_page_black_24px;
  }
}
.icon-ic_group_add_black_24px {
  &:before {
    content: $icon-ic_group_add_black_24px;
  }
}
.icon-ic_group_black_24px {
  &:before {
    content: $icon-ic_group_black_24px;
  }
}
.icon-ic_help_black_24px {
  &:before {
    content: $icon-ic_help_black_24px;
  }
}
.icon-ic_info_black_24px {
  &:before {
    content: $icon-ic_info_black_24px;
  }
}
.icon-ic_keyboard_arrow_up_black_24px {
  &:before {
    content: $icon-ic_keyboard_arrow_up_black_24px;
  }
}
.icon-ic_language_black_24px {
  &:before {
    content: $icon-ic_language_black_24px;
  }
}
.icon-ic_last_page_black_24px {
  &:before {
    content: $icon-ic_last_page_black_24px;
  }
}
.icon-ic_lightbulb_outline_black_24px {
  &:before {
    content: $icon-ic_lightbulb_outline_black_24px;
  }
}
.icon-ic_link_black_24px {
  &:before {
    content: $icon-ic_link_black_24px;
  }
}
.icon-ic_list_black_24px {
  &:before {
    content: $icon-ic_list_black_24px;
  }
}
.icon-ic_local_offer_black_24px {
  &:before {
    content: $icon-ic_local_offer_black_24px;
  }
}
.icon-ic_lock_black_24px {
  &:before {
    content: $icon-ic_lock_black_24px;
  }
}
.icon-ic_lock_open_black_24px {
  &:before {
    content: $icon-ic_lock_open_black_24px;
  }
}
.icon-ic_lock_open_line_black_24px {
  &:before {
    content: $icon-ic_lock_open_line_black_24px;
  }
}
.icon-ic_loop_black_24px {
  &:before {
    content: $icon-ic_loop_black_24px;
  }
}
.icon-ic_mail_outline_black_24px {
  &:before {
    content: $icon-ic_mail_outline_black_24px;
  }
}
.icon-ic_menu_black_24px-copy {
  &:before {
    content: $icon-ic_menu_black_24px-copy;
  }
}
.icon-ic_menu_black_24px {
  &:before {
    content: $icon-ic_menu_black_24px;
  }
}
.icon-ic_more_horiz_black_24px {
  &:before {
    content: $icon-ic_more_horiz_black_24px;
  }
}
.icon-ic_more_vert_black_24px {
  &:before {
    content: $icon-ic_more_vert_black_24px;
  }
}
.icon-ic_near_me_black_24px {
  &:before {
    content: $icon-ic_near_me_black_24px;
  }
}
.icon-ic_new_releases_black_24px {
  &:before {
    content: $icon-ic_new_releases_black_24px;
  }
}
.icon-ic_notifications_active_black_24px {
  &:before {
    content: $icon-ic_notifications_active_black_24px;
  }
}
.icon-ic_notifications_black_24px {
  &:before {
    content: $icon-ic_notifications_black_24px;
  }
}
.icon-ic_notifications_off_black_24px {
  &:before {
    content: $icon-ic_notifications_off_black_24px;
  }
}
.icon-ic_pause_black_24px {
  &:before {
    content: $icon-ic_pause_black_24px;
  }
}
.icon-ic_pause_circle_outline_black_24px {
  &:before {
    content: $icon-ic_pause_circle_outline_black_24px;
  }
}
.icon-ic_person_add_black_24px {
  &:before {
    content: $icon-ic_person_add_black_24px;
  }
}
.icon-ic_person_black_24px {
  &:before {
    content: $icon-ic_person_black_24px;
  }
}
.icon-ic_play_arrow_black_24px {
  &:before {
    content: $icon-ic_play_arrow_black_24px;
  }
}
.icon-ic_play_circle_outline_black_24px {
  &:before {
    content: $icon-ic_play_circle_outline_black_24px;
  }
}
.icon-ic_publish_black_24px {
  &:before {
    content: $icon-ic_publish_black_24px;
  }
}
.icon-ic_question_answer_black_24px {
  &:before {
    content: $icon-ic_question_answer_black_24px;
  }
}
.icon-ic_radio_button_checked_black_24px {
  &:before {
    content: $icon-ic_radio_button_checked_black_24px;
  }
}
.icon-ic_radio_button_unchecked_black_24px {
  &:before {
    content: $icon-ic_radio_button_unchecked_black_24px;
  }
}
.icon-ic_remove_black_24px {
  &:before {
    content: $icon-ic_remove_black_24px;
  }
}
.icon-ic_remove_circle_black_24px {
  &:before {
    content: $icon-ic_remove_circle_black_24px;
  }
}
.icon-ic_report_black_24px {
  &:before {
    content: $icon-ic_report_black_24px;
  }
}
.icon-ic_settings_black_24px {
  &:before {
    content: $icon-ic_settings_black_24px;
  }
}
.icon-ic_skip_next_black_24px {
  &:before {
    content: $icon-ic_skip_next_black_24px;
  }
}
.icon-ic_skip_previous_black_24px {
  &:before {
    content: $icon-ic_skip_previous_black_24px;
  }
}
.icon-ic_sms_failed_black_24px {
  &:before {
    content: $icon-ic_sms_failed_black_24px;
  }
}
.icon-ic_star_border_black_24px {
  &:before {
    content: $icon-ic_star_border_black_24px;
  }
}
.icon-ic_star_half_black_24px {
  &:before {
    content: $icon-ic_star_half_black_24px;
  }
}
.icon-ic_stop_black_24px {
  &:before {
    content: $icon-ic_stop_black_24px;
  }
}
.icon-ic_thumb_down_black_24px {
  &:before {
    content: $icon-ic_thumb_down_black_24px;
  }
}
.icon-ic_thumb_up_black_24px {
  &:before {
    content: $icon-ic_thumb_up_black_24px;
  }
}
.icon-ic_vertical_align_bottom_black_24px {
  &:before {
    content: $icon-ic_vertical_align_bottom_black_24px;
  }
}
.icon-ic_view_list_black_24px {
  &:before {
    content: $icon-ic_view_list_black_24px;
  }
}
.icon-ic_visibility_black_24px {
  &:before {
    content: $icon-ic_visibility_black_24px;
  }
}
.icon-ic_visibility_off_black_24px {
  &:before {
    content: $icon-ic_visibility_off_black_24px;
  }
}
.icon-ic_volume_off_black_24px {
  &:before {
    content: $icon-ic_volume_off_black_24px;
  }
}
.icon-ic_volume_up_black_24px {
  &:before {
    content: $icon-ic_volume_up_black_24px;
  }
}
.icon-ic_warning_black_24px {
  &:before {
    content: $icon-ic_warning_black_24px;
  }
}
.icon-Add-Photo {
  &:before {
    content: $icon-Add-Photo;
  }
}
.icon-Add {
  &:before {
    content: $icon-Add;
  }
}
.icon-Alert {
  &:before {
    content: $icon-Alert;
  }
}
.icon-Arrow-Right {
  &:before {
    content: $icon-Arrow-Right;
  }
}
.icon-Badge-Verified {
  &:before {
    content: $icon-Badge-Verified;
  }
}
.icon-Chat {
  &:before {
    content: $icon-Chat;
  }
}
.icon-Clock {
  &:before {
    content: $icon-Clock;
  }
}
.icon-Direction-Down {
  &:before {
    content: $icon-Direction-Down;
  }
}
.icon-DIrection-Left {
  &:before {
    content: $icon-DIrection-Left;
  }
}
.icon-Direction-Right {
  &:before {
    content: $icon-Direction-Right;
  }
}
.icon-Direction-Up-Copy {
  &:before {
    content: $icon-Direction-Up-Copy;
  }
}
.icon-Direction-Up {
  &:before {
    content: $icon-Direction-Up;
  }
}
.icon-Done {
  &:before {
    content: $icon-Done;
  }
}
.icon-Download {
  &:before {
    content: $icon-Download;
  }
}
.icon-Drag {
  &:before {
    content: $icon-Drag;
  }
}
.icon-Edit {
  &:before {
    content: $icon-Edit;
  }
}
.icon-EllpsisHorizontal {
  &:before {
    content: $icon-EllpsisHorizontal;
  }
}
.icon-EllpsisVertical {
  &:before {
    content: $icon-EllpsisVertical;
  }
}
.icon-Engineering {
  &:before {
    content: $icon-Engineering;
  }
}
.icon-File {
  &:before {
    content: $icon-File;
  }
}
.icon-Flag {
  &:before {
    content: $icon-Flag;
  }
}
.icon-Fork {
  &:before {
    content: $icon-Fork;
  }
}
.icon-Globe {
  &:before {
    content: $icon-Globe;
  }
}
.icon-Grid {
  &:before {
    content: $icon-Grid;
  }
}
.icon-Heart {
  &:before {
    content: $icon-Heart;
  }
}
.icon-image {
  &:before {
    content: $icon-image;
  }
}
.icon-Info {
  &:before {
    content: $icon-Info;
  }
}
.icon-Invisible {
  &:before {
    content: $icon-Invisible;
  }
}
.icon-Lesson {
  &:before {
    content: $icon-Lesson;
  }
}
.icon-Link {
  &:before {
    content: $icon-Link;
  }
}
.icon-List {
  &:before {
    content: $icon-List;
  }
}
.icon-Location {
  &:before {
    content: $icon-Location;
  }
}
.icon-Lock-unlocked {
  &:before {
    content: $icon-Lock-unlocked;
  }
}
.icon-Lock {
  &:before {
    content: $icon-Lock;
  }
}
.icon-LogOut {
  &:before {
    content: $icon-LogOut;
  }
}
.icon-Mail {
  &:before {
    content: $icon-Mail;
  }
}
.icon-Maths {
  &:before {
    content: $icon-Maths;
  }
}
.icon-Menu {
  &:before {
    content: $icon-Menu;
  }
}
.icon-Navigation {
  &:before {
    content: $icon-Navigation;
  }
}
.icon-Palette {
  &:before {
    content: $icon-Palette;
  }
}
.icon-Science {
  &:before {
    content: $icon-Science;
  }
}
.icon-Search {
  &:before {
    content: $icon-Search;
  }
}
.icon-Sort {
  &:before {
    content: $icon-Sort;
  }
}
.icon-SortAlpha {
  &:before {
    content: $icon-SortAlpha;
  }
}
.icon-Star {
  &:before {
    content: $icon-Star;
  }
}
.icon-Technology {
  &:before {
    content: $icon-Technology;
  }
}
.icon-Tool {
  &:before {
    content: $icon-Tool;
  }
}
.icon-Trash {
  &:before {
    content: $icon-Trash;
  }
}
.icon-Upload {
  &:before {
    content: $icon-Upload;
  }
}
.icon-User {
  &:before {
    content: $icon-User;
  }
}
.icon-Users {
  &:before {
    content: $icon-Users;
  }
}

.icon_close {

  &:before {
    content:"";
    display:block;
    background:image-url("icons/icon_close_black.svg") top left no-repeat;
    background-size:100%;
    width:18px;
    height:18px;

  }
}


.icon_social {
  width:24px;
  height:24px;
  display:inline-block;
  text-indent:-999em;
  overflow:hidden;
  background-repeat:no-repeat;
  background-position:center;
  background-size:100% 100%;

  &.icon_slack {
    background-image:image-url("icons/icon_slack.svg");
  }

  &.icon_twitter {
    background-image:image-url("icons/icon_twitter.svg");
  }

  &.icon_facebook {
    background-image:image-url("icons/icon_facebook.svg");
  }

}


