p.text--intro {
  font-size:1.25rem;
  font-weight: 300;
  color:$color-mid-gray;
}
h5.header--section{
  color: $color-mid-gray;
  font-weight: 300;
  font-size: 1rem;
}
h3.text--quote{
  color: $color-dark;
  font-weight: 300;
  font-size: 1.5rem;
}
.body-18-med{
  font-weight: 400;
  font-size: 1.12rem;
}