.policy_page.wrapped
  .poly_container.wrapped#privacy
    %h2
      Privacy Policy

    %section
      %h5
        Why this page?
        %p
          This page informs you regarding our policies in managing your personal data through the use of this website. Use of
          %span.text--highlighted
            =link_to "Fablabs.io's", 'https://www.fablabs.io/', target: "_blank"
          website and any of the services it offers implies the full acceptance of the conditions stipulated by the following Privacy Policy.

    %section
      %h5
        Data Storage
        %p
          Your data will be included in a file responsible of FAB LAB NETWORK, S.L as data controller in order to send communications informing about our activities. Your data shall also be communicated to INSTITUT D’ARQUITECTURA AVANÇADA DE CATALUNYA, Fundació Privada, Fab Foundation (United States) for the same purposes. By filling this form you give your express consent to the inclusion of their data in the previous file according to the stated purposes, particularly to the international transfer of their data to entities outside the European Union.
          %br
          %br
          Your data shall be stored while the main purposes for processing said data remain unaltered.

    %section
      %h5
        Exercising the right to access, rectify, cancel or oppose the personal data held on file
        %p
          You may exercise your rights of access, rectification, cancellation and opposition by sending a written request accompanied by a photocopy of your ID/passport to the following address:
          %span.text--highlighted
            =mail_to "info@fablabbcn.org"
          of
          %span.text--highlighted
            =mail_to "info@fabfoundation.org"

    %section
      %h5
        Data Protection Officer (“DPO”)
        %p
          We inform you that if you have any questions regarding your privacy you may address to our Data Protection Officer: (name and email address). You may also file a complaint to the Spanish Data Protection Agency “Agencia Española de Protección de Datos”
          %span.text--highlighted
            =link_to "www.agpd.es", 'http://www.agpd.es', target: "_blank"

  .poly_container.wrapped#cookie
    %h2
      Cookie Policy
    %section
      %h5
        How to manage cookies
        %p
          The European Union
          %span.text--highlighted
            =link_to "ePrivacy directive", 'http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32002L0058:EN:HTML', target: "_blank"
          more specifically Article 5(3) – requires prior informed consent for storage for access to information stored on a user's terminal equipment. In other words, each website that uses cookies must ask users if they agree to most cookies and similar technologies before the site starts to use them. The full Cookie Policy of
          %span.text--highlighted
            =link_to "Fablabs.io's", 'https://www.fablabs.io/', target: "_blank"
          can be accessed
          %span.text--highlighted
            =link_to "here.", 'https://www.fablabs.io/cookie-policy/', target: "_blank"

    %section
      %h5
        Terms of Service
        %p
          The full Terms of Service of
          %span.text--highlighted
            =link_to "Fablabs.io's", 'https://www.fablabs.io/', target: "_blank"
          can be accessed
          %span.text--highlighted
            =link_to "here.", 'https://www.fablabs.io/tos/', target: "_blank"

    %section
      %h5
        Version and contact information
        %p
          This Privacy Policy was last revised on July 26th 2017. As soon as improvements to the
          %span.text--highlighted
            =link_to "Fablabs.io", 'https://www.fablabs.io/', target: "_blank"
          website will be introduced, this page will be updated. If you need more information regarding the Terms of Service, the Privacy Policy and the Cookie Policy at
          %span.text--highlighted
            =link_to "Fablabs.io", 'https://www.fablabs.io/', target: "_blank"
          you can write us at
          %span.text--highlighted
            =mail_to "info@fabfoundation.org"
