<div class="Auth__nav">
  <%= active_link_to '<span>Log in</span>'.html_safe, new_user_session_path, class: "Auth__nav__item", class_active: "Auth__nav__item--active" %>
  <%= active_link_to '<span>Register</span>'.html_safe, new_user_registration_path, class: "Auth__nav__item", class_active: "Auth__nav__item--active" %>
</div>
