# Install git in order to be able to bundle gems from git
packages:
  yum:
    git: []
    patch: []

commands:
  #01 && 02 needs for build native extension. See https://forums.aws.amazon.com/thread.jspa?messageID=550901&#550053
  01_bundlerfix_command:
    test: test ! -f /opt/elasticbeanstalk/containerfiles/.post-provisioning-complete
    command: gem install rubygems-update
    leader_only: false
  02_update_rubygems:
    test: test ! -f /opt/elasticbeanstalk/containerfiles/.post-provisioning-complete
    command: $(which update_rubygems)
    leader_only: false