<div class="FormField__input">
  <div class="Slider">
    <div class="Slider__value"></div>
    <% if @lesson_obj.attributes['grade_range'] %>
    <div class="Slider__control" data-config="<%= { start: @lesson_obj.grade_range.present? ? @lesson_obj.grade_range.to_a : [3,5], connect: true, step: 1, range: { min: -1, max: 12 }, unit: 'ordinal' }.to_json %>">
      <input type="hidden" name="lesson[grade_range]" value="<%= @lesson_obj.grade_range %>" />
    </div>
    <% end %>
  </div>
</div>
