<div class="PageHeader">
    <div class="PageHeader__content">
        <div class="PageHeader__avatar">
            <img src="<%= image_url("avatars/avatar2.jpg") %>" class="Image Image--lazy" />
        </div>
        <div class="PageHeader__title PageHeader__title--small">
            <h1 class="PageHeader__heading">Henry Miller</h1>
            <div class="PageHeader__sub">FabLab Assistant</div>
        </div>
    </div>
</div>