/**
  Header styles
**/

header[role="banner"] {

  @include clearfix;

  h1.brand {
    padding:1rem 0;
    margin:0;
    @include breakpoint($desktop-breakpoint) {
      padding:1rem 0;
      float:left;
    }

    a {
      display:block;
      text-indent:-999em;
      overflow: hidden;
      width:50px;
      height:50px;
      background: asset-url("scopes-logo-alt.svg") center left no-repeat;
      
      @include breakpoint($desktop-breakpoint) {
        background: asset-url("scopes-logo.svg") center left no-repeat;
        width:170px;
        height:50px;
      }
      
    }
  }


  @include breakpoint($large-breakpoint) {
    .wrapped {
      max-width:100%;
      padding:0 $site-inner-padding*8;
      box-sizing:border-box;
      min-width:$site-max-width;
    }
  }


  @include breakpoint($desktop-breakpoint) {
    border-top:$color-blue-hi 8px solid;
  }

}

.lesson-nav-actions,
.nav-secondary {

  @include breakpoint($large-breakpoint) {
    .wrapped {
      max-width:100%;
      padding:0 $site-inner-padding*8;
      box-sizing:border-box;

    }
  }
}