body {
  padding:0;
  margin:0;
  letter-spacing:0.02rem;
}

.wrapped {
  padding:0 $site-inner-padding;
  margin:0 auto;
  transition:padding .2s;

  @include breakpoint($desktop-breakpoint) {
    max-width:$site-max-width;
    box-sizing:border-box;
  }
}

hr {
  height:1px;
  background:$color-gray-outlines;
  color:$color-gray-outlines;
  border:none;
  margin:0;
  padding:0;
}

img {
  max-width:100%;
  display:block;
  height:auto;
}

fieldset {
  border:none;
  padding:0;
  margin:0;
}

figure, figcaption {
  padding:0;
  margin:0;
}