body {
  padding:0;
  margin:0;
}

.wrapped {
  padding:0 $site-inner-padding;
  margin:0 auto;

  @include breakpoint($desktop-breakpoint) {
    max-width:$site-max-width;
    box-sizing:border-box;
  }
}

hr {
  height:1px;
  background:$color-gray-outlines;
  color:$color-gray-outlines;
  border:none;
  margin:0;
  padding:0;
}