/**
  Navigation styles
**/

nav[role="navigation"] {
  @include clearfix;

  .navbar-collapse {

    display:none;

    &.active {
      display:block;
    }


    @include breakpoint($tablet-breakpoint) {
      display:block;
      float:right;
      padding:1.4rem 0;
    }
  }
}

.navbar-header {
  display:flex;
  justify-content:space-between;
  align-items: center;
  @include breakpoint($tablet-breakpoint) {
    display:block;
    float:left;
  }
}


a#toggle-nav {
  color:#000;
  text-decoration: none;
  display:block;
  width:24px;
  height:24px;

  i {
    font-size:24px;
  }

  span {
    display:none;
  }
  @include breakpoint($tablet-breakpoint) {
    display:none;
  }
}

ul.nav {
  @include ul-reset;
  font-weight:300;
  border-top:$color-gray-outlines 1px solid;

  @include breakpoint($tablet-breakpoint) {
    font-weight:400;
    border-top:none;
  }

  li {

    display:block;

    @include breakpoint($tablet-breakpoint) {
      display:inline-block;
    }

    a {
      display:block;
      margin:1em 0;
      font-size:1.25rem;

      &:not(.button) {

        color:$color-dark;
        text-decoration: none;
        padding:.5em;
        position:relative;
        margin:0;
        border-bottom:$color-gray-outlines 1px solid;
        background:asset-url("icons/icon-Direction-Right.svg") right center no-repeat;

        @include breakpoint($tablet-breakpoint) {
          border:none;
          background:none;          
        }


        &.nav-link--thin {
          color:lighten($color-dark,40%);
        }

        &:after {
          width:0;
          display:block;
          content:"";
          height:2px;
          position:absolute;
          opacity:0;
          bottom:0;
          left:0;
        }

        &:hover,
        &.current {
          &:after {
            @include breakpoint($tablet-breakpoint) {
              background:$color-blue-hi;
              width:100%;
              opacity:1;
            }
          }
        }
      }

      &.nav-link--extra-space {
        margin-top:1em;
      }

      @include breakpoint($tablet-breakpoint) {
        font-size:1rem;
        border-bottom:0;
        &.nav-link--extra-space {
            margin-right:2em;
            margin-top:1em;
        }
      }
    }
  }
}

.nav-secondary {
  background:$color-gray;
  @include clearfix;
  ul.nav {
    float:left;
    li {
      display:inline-block;
    }
    a {
      display: block;
      font-size:.9em;
      padding:1.2rem .8rem;
      margin:0;
    }
  }
}
