/**
  Navigation styles
**/

nav[role="navigation"] {
  @include clearfix;
  .navbar-toggle {
    @include breakpoint($desktop-breakpoint) {
      display:none;
    }
  }

  .navbar-collapse {
    @include breakpoint($desktop-breakpoint) {
      float:right;
      padding:1.4rem 0;
    }
  }
}

ul.nav {
  @include ul-reset;
  font-weight:400;

  li {
    display:inline-block;
  }
  a:not(.button) {
    color:$color-dark;
    text-decoration: none;
    padding:.5em;
    position:relative;

    &.nav-link--thin {
      color:lighten($color-dark,40%);
    }



    &:after {
      width:0;
      display:block;
      content:"";
      height:2px;
      position:absolute;
      opacity:0;
      bottom:0;
      left:0;
    }

    &:hover,
    &.current {
      &:after {
        background:$color-blue-hi;
        width:100%;
        opacity:1;
      }
    }
  }
}

.nav-link--extra-space {
  @include breakpoint($desktop-breakpoint) {
    margin-right:2em;
  }
}

.nav-secondary {
  background:$color-gray;
  @include clearfix;
  ul.nav {
    float:left;
    li {
      display:inline-block;
    }
    a {
      display: block;
      font-size:.9em;
      padding:1.2rem .8rem;
      margin:0;
    }
  }
}
