/**
  General typography settings.
**/

body {
  font-size:1em;
  font-family:$font-base;
  line-height:150%;
  font-weight:200;
  -webkit-font-smoothing: subpixel-antialiased;
  color:$color-dark;
  word-break: none;
  hyphens: none;
}

a {
  color:$color-blue-hi;
  text-decoration:underline;

 &:hover,
  &:focus {
    outline:0;
    color:darken($color-blue-hi,10%);
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, .headlines {
  font-family: $font-headlines;
  font-weight:400;
  line-height:1em;
  letter-spacing:0.07rem;
}

h1 {
  font-size:3em;
}

h2 {
  font-size:2em;
}

h3 {
  font-size:1.5em;
}

h4 {
  font-size:1.1em;
  letter-spacing:0.04rem;
}

h5 {
  font-size:1em;
}
