%article.lesson--teaser
  = link_to page_path('static/lessons/show') do
    = image_tag "https://www.fillmurray.com/270/200"
  .detail
    %h3
      =l.name
    %p
      =l.topline
    %p
      something else here
