%article.lesson--teaser
  = link_to lesson_view_path(id: lesson.id) do
    = image_tag "https://www.fillmurray.com/270/200"
  .detail
    %h3
      =lesson.name
    %p
      =lesson.topline
    %p
      something else here
