%article.lesson--teaser
  = link_to lesson_view_path(id: lesson.id) do
    .image.image_wrapper-center.about-flex-child
      =image_tag("#{lesson.outcome_files.first}")
    .detail
      %h3
        =lesson.name
      %p
        =lesson.topline
      -#%p
      -#  something else here
