// --------------------------  box layout  -------------------------- //

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

// --------------------------  global elements  -------------------------- //

html {
	height: 100%;
	display: block;
	overflow-y: scroll; 
}

html,
body {
	height: 100% !important;
	padding: 0;
	margin: 0;
}

body {
	background: $color-background;
	display: flex;
  flex-direction: column;
	position: relative;
	z-index: 1;
}

img {
	border: 0;
	display: block;
	width: 100%;
	vertical-align: middle;
	height: auto;
	transform: translateZ(0);
}
