// --------------------------  global typography  -------------------------- //

body {
	font-family: $font-family;
	font-feature-settings: "liga", "kern", "lnum";
	backface-visibility: hidden;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.4;
	color: $color-main;
	font-weight: 400;
	font-size: 14px;
}

em {
	font-style: italic;
}

a {
	color: $color-main;
	text-decoration: none;
	transition: color .12s $default-easing, border-color .12s $default-easing;
}

p {
	margin: 0;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}

	strong,
	b {
		color: $color-main;
		font-weight: normal;
	}

	i,
	em {

	}

	a {
		border-bottom: 1px solid $color-border;
		color: $color-main;

		&:hover {
			color: $color-highlight-secondary;
			border-color: rgba($color-highlight-secondary, 0.25);
		}

	}

	iframe {
		display: block;
		max-width: 100%;
	}

}

ul,ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

// --------------------------  headings  -------------------------- //

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	margin: 0;
	padding: 0;
	font-size: inherit;
	display: block;
}

h1 {
	line-height: 1.2;
	font-weight: 600;

	@include above-mobile-landscape {
		font-size: 48px;
	}

	@include mobile-landscape-and-below {
		font-size: 24px;
	}

}

h2 {

	font-weight: 400;

	@include above-mobile-landscape {
		font-size: 32px;
	}

	@include mobile-landscape-and-below {
		font-size: 24px;
	}

}

h3 {
	@include text-medium;

	@include above-mobile-landscape {
		font-size: 24px;
	}

	@include mobile-landscape-and-below {
		font-size: 20px;
	}

}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
	@include text-medium;
}