.filter--bar {

  background:darken($color-white,2%);
  padding:1rem 0;

  .wrapped {
    max-width:100%;
    padding:0 $site-inner-padding*8;
    box-sizing:border-box;
    min-width:$site-max-width;
    
  }
}