.landing-page {
  section {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    &:nth-of-type(odd) {
      background-color: $color-blue;
      color: $color-white;
    }

    &#top {
      .content-wrapper{
        width: 100%;
      }
      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        @include breakpoint($desktop-breakpoint) {
          align-items: flex-start;
          text-align: left;
          h1{ margin-left: 0;}
        }
        .wrapper{
          padding: 1.5rem 0;
        }
      }
      h1 {
        margin: 1.5rem;
        line-height: 3.5rem;
      }
      h3 {
        font-weight: 400;
      }
      p {
        font-size: 18px;
        font-weight: 300;
        margin-top: 0;
      }
      min-height: 85vh;
      background: image-url("Landing-Big.jpg") no-repeat center center;
      background-size: cover;
      @include breakpoint($tablet-breakpoint) {
        background: image-url("Landing-Big.jpg") no-repeat center center;
        background-size: cover;
      }
    }

    &#white1 {
      .landing-contents-columns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .svg-wrapper {
          display: none;
          &.mobile {
            display: block;
          }
        }
      }
      min-height: 50vh;
      text-align: center;
      p {
        color: $color-blue-hi;
        font-size: 18px;
        margin-bottom: 0;
      }
      h3{
        font-size: 1.5rem;
        line-height: 2rem;
        margin-top: 1rem;
      }

      @include breakpoint($tablet-breakpoint) {
        .landing-contents-columns {
          flex-direction: row;
          .svg-wrapper {
            display: block;
            &.mobile {
              display: none;
            }
          }
        }
      }
    }

    &#grey1 {
      color: $color-dark;
      background-color: $color-gray-low;
      min-height: 70vh;
      p {
        color: $color-dark-hi-landing;
        margin-bottom: 0;
      }
      .slider {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        article{
          margin: 2rem 1rem;
        }
      }
    }

    &#white2 {
      color: $color-dark-landing;
      min-height: 85vh;
      .landing-contents-columns {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: center;

        @include breakpoint($tablet-breakpoint) {
          flex-direction: row;
          flex-wrap: wrap;
        }

        .landing-content {
          h4 {
            color: $color-blue-hi;
          }
          @include breakpoint($tablet-breakpoint) {
            max-width: 250px;
          }
          max-width: 350px;
          margin: 2.6rem;
          .svg-wrapper {
            height: 140px;
          }
        }
      }

    }

    &#blue1 {
      .landing-contents-row {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        .image {
          width: 100vw;
        }
        .content-wrapper {
          width: 100vw;
          display: flex;
          align-items: center;
          justify-content: center;
          .content {
            text-align: left;
            display: flex;
            flex-direction: column;
            max-width: 400px;
            p:last-of-type{
              margin: 0 0 2.5rem 0;
            }

            .button {
              width: 100%;
              @include breakpoint($tablet-breakpoint) {
                width: 150px;
              }
            }
          }
        }
        @include breakpoint($tablet-breakpoint) {
          flex-direction: row;
          .content-wrapper, .image {
            width: 50vw;
          }
        }
      }
    }

    &#white3 {
      .content{
        padding-bottom: 0;
      }
      .landing-contents-columns {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0 2rem 0;
        justify-content: space-around;
        img {
          max-width: 100%;
          max-height: 100%;
        }
        .svg-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 2rem 3rem;
          height: 80px;
        }
        @include breakpoint($tablet-breakpoint) {
          flex-direction: row;
          flex-wrap: wrap;
        }
      }
    }
  }

  footer {
    #footer {
      background-color: transparent;
      p {
        color: $color-white;
      }
      .landing-contents-columns {
        display: flex;
        flex-direction: column;
        @include breakpoint($tablet-breakpoint) {
          flex-direction: row;
          .content:last-of-type {
            width: inherit;
          }
        }
        align-items: center;
        justify-content: center;
      }
      .instructions {
        padding-bottom: 0;
        @include breakpoint($tablet-breakpoint) {
          padding: 3rem;
        }
      }
      .content {
        text-align: left;
        display: flex;
        flex-direction: column;
        &:first-of-type {
          flex-grow: 1;
        }
        &:last-of-type {
          width: 100%;
        }
      }
    }
    background-color: $color-blue-hi;
    color: $color-white;

  }

  .content {
    padding: 2rem 1rem;
    @include breakpoint($tablet-breakpoint) {
      padding: 3rem;
    }
  }

}