.lesson--list {
  article {

    @include breakpoint(32rem) {
      @include gallery(3 of 6);
    }

    @include breakpoint($desktop-breakpoint) {
      @include gallery(3 of 12);
    }

    margin-bottom: 1rem;
  }
}

.lesson--steps {
  footer {
    background: $color-gray-low;
    padding: 4em 0;
    margin-top: 4em;
    @include clearfix;

    p {
      float: left;
      font-size: 1.5em;
      font-weight: 300;
    }

    a.button:last-child, input.button--call:last-child {
      float: right;
    }
  }
}

.lesson--view {
  .view--top-content {
    display: block;
    .top-content-title, .top-content-images {
      width: 100vw;
      height: 300px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      hr {
        margin: 2rem 0;
        background-color: $color-yellow-dark;
        width: 5em;
        height: 3px
      }
    }
    .top-content-images {
      background-color: black;
      justify-content: flex-end;
    }
    @include breakpoint($desktop-breakpoint) {
      display: flex;
      .top-content-title, .top-content-images {
        width: 50vw;
        height: 400px;
      }
    }
  }
  .view--details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    background-color: $color-gray;
    .detail{
      padding: 2em;
    }
    @include breakpoint($tablet-breakpoint) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  .overview{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .overview--right{
      width: 275px;
      section{
        border-bottom: 2px solid $color-gray-outlines;
        margin: 10px;
        padding: 10px 0 34px 0;
        &:last-of-type{
          border-bottom: none;
        }
      }
    }
    .overview--left{
      max-width: 540px;
      margin: 0 50px;
      section{
        padding: 10px;
        &summary{
          font-size: 20px;
        }
      }
      ul{
        padding-left: 20px;
        list-style: none;
      }
    }
  }

  .flex-wrapper--fullrow{
    display: flex;
    flex-direction: column;
    .sub-section--half{
      width: 50%;
    }
    .sub-section--full{
      width: 100%;
    }
  }

  section.standard{
    border-bottom: 2px solid $color-gray-outlines;
    margin: 10px;
    padding: 10px 0 34px 0;
    &:last-of-type{
      border-bottom: none;
    }
  }

  #instructions {
    #title-space {
      .wrapped {
        display: flex;
        flex-direction: row;
        min-height: 160px;
        align-items: center;
        span{
          display: flex;
          margin: 0 15px;
          p { margin: 0 3rem;}
          h2 { margin: 0; }
          &:first-of-type{
            flex-grow: 2;
            margin: 0;
          }
        }
      }
    }

    #consolidated-space {
      background-color: $color-gray;
      .wrapped {
        display: flex;
        flex-direction: row;
        justify-content: center;
        section{
          display: flex;
          flex-direction: column;
          margin: 0 3rem;
          .icon{
            float: left;
          }
          h4{
            float: left;
            margin-bottom: 0;
          }
          ul{
            list-style: none;
            padding: 1rem 0;
            margin: 0;
            li{
              margin: .5rem 0;
            }
          }
        }
      }
    }
  }

  footer{
    .wrapped{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    background: #F4F4F4;
    padding: 4em 0;
    margin-top: 4em;
    //@include clearfix;

    p {
      float: left;
      font-size: 1.5em;
      font-weight: 300;
    }

    a.button:last-child, input.button--call:last-child {
      float: right;
    }
  }

}