.policy_page {
  .poly_container {
    padding: 3rem 0;
    section {
      border-bottom: 2px solid $color-gray-outlines;
      margin: 0;
      padding: 2rem 0;
      &:last-of-type {
        border-bottom: none;
      }
      h5 {
        font-weight: 400;
      }
      p {
        font-weight: 300;
        line-height: 1.25rem;
      }
    }
  }
}