// --------------------------  defaults -------------------------- //

$default-duration: 	.12s;
$default-easing: 	$ease-in-out-cubic;

$box-shadow:		0px 1px 1px 0px rgba(#000, 0.05);

// --------------------------  colors -------------------------- //

$color-main: #4A4A4A;

$color-background:		#fff;

$color-gray-verydark: #62686C;
$color-gray-dark: #7F7F7F;
$color-gray-mid: #B6B6B6;
$color-gray-light: #F4F4F4;

$color-highlight-primary:   #14C9C9;
$color-highlight-secondary: #E9E500;
$color-border: #F4F4F4;

$color-blue: #2E5478;

// --------------------------  dimensions -------------------------- //

$grid-width: 1440px;
$gutter-width: 20px;
