= form_tag(lesson_file_path(id: @lesson_obj.id, attr:"outcome_files"), method: "post", multipart: true, id:"fileupload", ) do
  %article
    .wrapped
      %fieldset
        %legend
          %h3 Examples of finished work

        .field-group
          %label
            Add images
            %small Guidelines for images
            -# @TODO add little info icon and tooltip with information
          .image-uploader-wrapper
            .dropzone
              %p 
                Drag & drop files here - or click to browse 
                %br .jpg, .png, .pdf

            = file_field_tag 'outcome_files[]', multiple: true, class: 'form--file-uploader'



      .loading


        .field-group
          .field--image-gallery.files
            -#(1..4).each do
            -#  %figure
            -#    = link_to '<i class="icon-Trash"></i><span>Delete</span>'.html_safe, "#", :class =>'action--delete'
            -#    = image_tag 'https://www.fillmurray.com/270/200'
            -#    %figcaption DSCF-0124.jpg

    %footer
      .wrapped
        =link_to 'Back to instructions', lesson_new_path(id: @lesson_obj.id, form_step:4), class: 'button button--call'
        -#=link_to 'Publish lesson', '#', class: 'button button--highlight'
        = submit_tag('Publish lesson', class: 'button button--call')


%script
  :plain
    var fileUploadErrors = {
      maxFileSize: 'File is too big',
      minFileSize: 'File is too small',
      acceptFileTypes: 'Filetype not allowed',
      maxNumberOfFiles: 'Max number of files exceeded',
      uploadedBytes: 'Uploaded bytes exceed file size',
      emptyResult: 'Empty file upload result'
    };

-# @TODO don't dry all the time

%script#template-upload{:type => "text/html"}
  :plain
    {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
      <figure data-src="{%=file.url%}" data-filename="{%=file.name%}">
        {% if (file.error) { %}
        <span class="label important">Error</span> {%=fileUploadErrors[file.error] || file.error%}
        {% } else { %}

        <a href="{%=file.delete_url%}" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}" class="action--delete"><i class="icon-Trash"></i><span>Delete</span></a>
        <div class="image--container" style="background-image:url({%=o.url%});"></div>

        <figcaption>
          {%=file.name%}
        </figcaption>
      {% } %}
      
      </figure>
    {% } %}

%script#template-download{:type => "text/html"}
  :plain
    {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
    <figure data-src="{%=file.url%}" data-filename="{%=file.name%}">
      {% if (file.error) { %}
      <span class="label important">Error</span> {%=fileUploadErrors[file.error] || file.error%}
      {% } else { %}

      <a href="{%=file.delete_url%}" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}" class="action--delete"><i class="icon-Trash"></i><span>Delete</span></a>
      <div class="image--container" style="background-image:url({%=o.url%});"></div>
    {% } %}

    </figure>
    {% } %}

%script#template-teaser{:type => "text/html"}
  :plain 
    <figure data-src="{%=o.url%}" data-filename="{%=o.name%}">
      <a href="{%= o.delete_url %}" class="action--delete"><i class="icon-Trash"></i><span>Delete</span></a>
        <div class="image--container" style="background-image:url({%=o.url%});"></div>
      <figcaption>{%=o.name %}</figcaption>
    </figure>

%script
  :plain
    $(document).on('turbolinks:load', function() {
      $.getJSON($('#fileupload').prop('action'), function (files) {
        $.each(files, function(index,key){
          $.each(key, function(index,file){
            var content = tmpl('template-teaser');
            $('.field--image-gallery').append(tmpl('template-teaser',file));
            $('span.label--cover-image').remove();
            $('.lesson--steps .field--image-gallery figure:first-child').prepend('<span class="label label--dark label--cover-image">Cover image</span>');
          });
        });
      
      });
    });

