<div class="Thumb">

  <a href="/lessons/show" class="Thumb__image">
    <img src="https://source.unsplash.com/270x202/?<%= i %>" srcset="https://source.unsplash.com/270x202/?<%= i %> 1x, https://source.unsplash.com/540x404/?<%= i %> 2x" class="Image Image--lazy" />
  </a>

  <div class="Thumb__content">

    <a href="/lessons/show" class="Thumb__title">Title</a>

    <div class="Thumb__description">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    </div>

  </div>

  <div class="Thumb__footer">
    <%= render partial: "components/user_badge", locals: { size: :small } %>
  </div>

</div>
