<div class="ActionBanner">

  <div class="ActionBanner__content">

    <div class="ActionBanner__statement">
      Share your lesson with other educators around the world!
    </div>

    <div class="ActionBanner__actions">
      <%= link_to "Add a lesson", new_lesson_path, class: "Button Button--small Button--light Button--icon Button--icon--add" %>
    </div>

  </div>

</div>
