[lesson nav]

.lesson--view
  .view--top-content
    .top-content-title
      .badges
        [ make badge partial / component ]
      %h2
        =@lesson.name
      %p.text--intro
        =@lesson.topline
      %hr
      .author-section
        [ make badge partial / component ]

    .top-content-images
      [ view more images button ]

  %section.view--details
    #range-teaching.detail
      %h5.header--section
        Teaching Range
      = "#{@lesson.getTeachingRange_formatted[:range_start].titleize} - #{@lesson.getTeachingRange_formatted[:range_end].titleize} Grade"
    #subjects-covered.detail
      %h5.header--section
        Subject Covered
      -@lesson.getSubjects
    #difficulty.detail
      %h5.header--section
        Difficulty
      [ difficulty ]
      for teachers
      %br
      [ difficulty ]
      for students
    #standards.detail
      %h5.header--section
        Alignment to Standards
      [ standards here ]
      [more][ view all >]

  .wrapped
    [view more lesson details >]
    .overview
      .overview--left
        %section#summary
          %h5.header--section
            Summary
          [ summery here]
        %section#download
          %h5.header--section
            Download Lesson Plan
          [ button to view print friendly version here ]
        %section#wherewhen
          %h5.header--section
            Where and When
          Duration:
          [time]
          Setting:
          [context]
        %section#skills
          %h5.header--section
            Skills Needed
          [ skills here]
        %section#objectives
          %h5.header--section
            objectives
          [ objective card here]
        %section#description
          %h5.header--section
            Lesson Description
          [ description here]
        %section#outcomes
          %h5.header--section
            Expected Outcimes
          [ image gallery here]
        %section#assessment
          %h5.header--section
            Assessment Criteria
          Your students should know the following things:
          [criteria here]
          %h5.header--section
            Supporting Files
          [links to files here]
      .overview--right
        %section#stats
          %h5.header--section
            Stats
          ICON - X - Linkes
          ICON - X - Forks
          ICON - X - Completed
        %section#Details
          %h5.header--section
            Details
          Publish date: DATE HERE
          Last updated: DATE HERE
        %section#Contributors
          %h5.header--section
            Contributors
          [USER ARRAY HERE]
        %section#Orgs
          %h5.header--section
            Developed At
          Publish date: DATE HERE
          Last updated: DATE HERE
          %section#Tags
            %h5.header--section
              Tags
            [OTHER TAGS]

    [ CHECK OUT STANDARDS << ]


