#outcomes
  .wrapped
    %h2
      =@lesson.name

    %section
      %h3
        Expected Outcomes

    -#%section
    -#  %h3
    -#    Procts Completed

    -#%section
    -#  %h3
    -#    Expected Outcomes
