<%= render partial: 'lessons/show_sub_nav' %>

<div class="PageHeader">
  <div class="PageHeader__content">
    <div class="PageHeader__title">
      <h1 class="PageHeader__heading">Settlers of Catan</h1>
    </div>
    <div class="PageHeader__indicators">
      <div class="PageHeader__indicator PageHeader__indicator--time">
        1.5 hours
      </div>
      <div class="PageHeader__indicator PageHeader__indicator--steps">
        3 steps
      </div>
    </div>
  </div>
</div>

<div class="Requirements">

  <div class="Requirements__content">

    <div class="Requirements__column">

      <h4 class="Requirements__heading Requirements__heading--materials">Materials needed</h4>

      <ul class="Requirements__list">
        <li class="Requirements__list__item">1x - Computer/Chromebooks access (or iPad for Printshop)</li>
        <li class="Requirements__list__item">Camera or scanner access</li>
        <li class="Requirements__list__item">TinkerCad accounts</li>
        <li class="Requirements__list__item">Handouts per student and extras printed</li>
        <li class="Requirements__list__item">1x - Computer/Chromebooks access (or iPad for Printshop)</li>
        <li class="Requirements__list__item">TinkerCad accounts</li>
      </ul>

    </div>

    <div class="Requirements__column">

      <h4 class="Requirements__heading Requirements__heading--tools">Tools needed</h4>

      <ul class="Requirements__list">
        <li class="Requirements__list__item">3D Printer</li>
        <li class="Requirements__list__item">TinkerCAD</li>
        <li class="Requirements__list__item">AdobeIllustrator (or similar)</li>
      </ul>

    </div>

    <div class="Requirements__column">

      <h4 class="Requirements__heading Requirements__heading--files">Project files</h4>

      <a href="#" class="Button Button--small Button--primary Button--icon Button--icon--download">Download all project files</a>

    </div>

  </div>

</div>

<!-- step 1 -->
<div class="Step">

  <div class="Step__columns">

    <div class="Step__main">

      <div class="Step__number">Step 1</div>

      <h3 class="Step__main__heading">Introduction Lesson</h3>

      <div class="Step__text">

        <p>Have your students research the different biomes either in pairs or alone. And ask these questions:</p>

        <ul>
          <li>What defines the biomes?</li>
          <li>Where are these biomes located?</li>
          <li>What makes each biome difficult to live in?</li>
          <li>What resources are abundant in each of the biomes?</li>
        </ul>

        <p>Have an open discussion about the resources your students use daily. A resource is a supply from which benefit is produced.</p>

        <ul>
          <li>Have the students write down their favorite resource, and have them explain why.</li>
          <li>Have the students research which resources come from which biomes.</li>
          <li>What makes each biome difficult to live in?</li>
          <li>The students should research how people use these biomes.</li>
        </ul>

      </div>

    </div>

    <div class="Step__sidebar">

      <div class="Sidebar">

        <div class="Sidebar__section Sidebar__section--with-border">

          <div class="Sidebar__heading">
            Duration
          </div>

          <ul class="Sidebar__list">
            <li class="Sidebar__list__item">
              <div class="Sidebar__stat Sidebar__stat--duration">10 minutes</div>
            </li>
          </ul>

        </div>

        <div class="Sidebar__section">

          <div class="Sidebar__heading">
            External Links
          </div>

          <ul class="Sidebar__list">
            <li class="Sidebar__list__item">
              <a href="#" class="Sidebar__link">YouTube - Settlers of Catan (An explanation)</a>
            </li>
          </ul>

        </div>

      </div>

    </div>

  </div>

</div>

<!-- step 2 -->
<div class="Step">

  <div class="Step__columns">

    <div class="Step__main">

      <div class="Step__number">Step 2</div>

      <h3 class="Step__main__heading">Design Water Tile</h3>

      <div class="Step__text">

        <p>Students draw within the circle and include the cut out shape along multiple edges</p>

        <ul>
          <li>See how creative students can be without going outside the circle size</li>
          <li>The design needs to fit within the circle for the tinkercad sizing step!</li>
        </ul>

        <div class="Slideshow">

          <div class="Slideshow__cells">

            <% 7.times do |i| %>
            <div class="Slideshow__cell">
              <img src="https://source.unsplash.com/random/700x470??computer,equipment,material&<%= i %>" />
            </div>
            <% end %>

          </div>

          <div class="Slideshow__nav__cells">

            <% 7.times do |i| %>
            <div class="Slideshow__nav__cell">
              <img src="https://source.unsplash.com/random/700x470??computer,equipment,material&<%= i %>" />
            </div>
            <% end %>

          </div>

        </div>

      </div>

    </div>

    <div class="Step__sidebar">

      <div class="Sidebar">

        <div class="Sidebar__section Sidebar__section--with-border">

          <div class="Sidebar__heading">
            Duration
          </div>

          <ul class="Sidebar__list">
            <li class="Sidebar__list__item">
              <div class="Sidebar__stat Sidebar__stat--duration">1.2 hours</div>
            </li>
          </ul>

        </div>

        <div class="Sidebar__section">

          <div class="Sidebar__heading">
            Project Files
          </div>

          <ul class="Sidebar__list">
            <li class="Sidebar__list__item">
              <a href="#" class="Sidebar__link Sidebar__link--download">WaterTile.sls</a>
            </li>
          </ul>

        </div>

        <div class="Sidebar__section">

          <div class="Sidebar__heading">
            Materials needed for this step
          </div>

          <ul class="Sidebar__list">
            <li class="Sidebar__list__item">Computer/Chromebooks access (or iPad for Printshop)</li>
            <li class="Sidebar__list__item">Camera or scanner access</li>
            <li class="Sidebar__list__item">TinkerCad accounts</li>
            <li class="Sidebar__list__item">Handouts per student and extras printed</li>
            <li class="Sidebar__list__item">Cardboard</li>
            <li class="Sidebar__list__item">Pencils</li>
          </ul>

        </div>

        <div class="Sidebar__section">

          <div class="Sidebar__heading">
            Tools needed for this step
          </div>

          <ul class="Sidebar__list">
            <li class="Sidebar__list__item">3D Printer</li>
            <li class="Sidebar__list__item">TinkerCAD</li>
            <li class="Sidebar__list__item">AdobeIllustrator (or similar)</li>
          </ul>

        </div>

        <div class="Sidebar__section">

          <div class="Sidebar__heading">
            External Links
          </div>

          <ul class="Sidebar__list">
            <li class="Sidebar__list__item">
              <a href="#" class="Sidebar__link">Youtube : Using the Extruding machine</a>
            </li>
          </ul>

        </div>

      </div>

    </div>

  </div>

  <!-- step 3 -->
  <div class="Step">

    <div class="Step__columns">

      <div class="Step__main">

        <div class="Step__number">Step 3</div>

        <h3 class="Step__main__heading">Assessment</h3>

        <div class="Step__text">

          <p>Have your students research the different biomes either in pairs or alone. And ask these questions:</p>

          <ol>
            <li>What are the benefits of modeling small, separate pieces for printing?</li>
            <li>What tools do you use to build objects in Tinkercad?</li>
            <li>What are the strengths and weaknesses of Tinkercad?</li>
            <li>How do you navigate in Tinkercad?</li>
            <li>When building the mountain tiles, why was it important to use the Hole tool to cut off the base of the tile?</li>
            <li>What are the benefits of plating multiple prints at a time?</li>
          </ol>

        </div>

      </div>

      <div class="Step__sidebar">

        <div class="Sidebar">

          <div class="Sidebar__section Sidebar__section--with-border">

            <div class="Sidebar__heading">
              Duration
            </div>

            <ul class="Sidebar__list">
              <li class="Sidebar__list__item">
                <div class="Sidebar__stat Sidebar__stat--duration">10 minutes</div>
              </li>
            </ul>

          </div>

          <div class="Sidebar__section">

            <div class="Sidebar__heading">
              Tools needed for this step
            </div>

            <ul class="Sidebar__list">
              <li class="Sidebar__list__item">3D Printer</li>
              <li class="Sidebar__list__item">TinkerCAD</li>
              <li class="Sidebar__list__item">AdobeIllustrator (or similar)</li>
            </ul>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
