<%= render partial: 'lessons/show_sub_nav' %>

<div class="PageHeader">
  <div class="PageHeader__content">
    <div class="PageHeader__title">
      <h1 class="PageHeader__heading">Settlers of Catan</h1>
    </div>
    <div class="PageHeader__indicators">
      <div class="PageHeader__indicator PageHeader__indicator--time">
        1.5 hours
      </div>
      <div class="PageHeader__indicator PageHeader__indicator--steps">
        3 steps
      </div>
    </div>
  </div>
</div>

<div class="LessonRequirements">

  <div class="LessonRequirements__content">

    <div class="LessonRequirements__column">

      <h4 class="LessonRequirements__heading LessonRequirements__heading--materials">Materials needed</h4>

      <ul class="LessonRequirements__list">
        <li class="LessonRequirements__list__item">1x - Computer/Chromebooks access (or iPad for Printshop)</li>
        <li class="LessonRequirements__list__item">Camera or scanner access</li>
        <li class="LessonRequirements__list__item">TinkerCad accounts</li>
        <li class="LessonRequirements__list__item">Handouts per student and extras printed</li>
        <li class="LessonRequirements__list__item">1x - Computer/Chromebooks access (or iPad for Printshop)</li>
        <li class="LessonRequirements__list__item">TinkerCad accounts</li>
      </ul>

    </div>

    <div class="LessonRequirements__column">

      <h4 class="LessonRequirements__heading LessonRequirements__heading--tools">Tools needed</h4>

      <ul class="LessonRequirements__list">
        <li class="LessonRequirements__list__item">3D Printer</li>
        <li class="LessonRequirements__list__item">TinkerCAD</li>
        <li class="LessonRequirements__list__item">AdobeIllustrator (or similar)</li>
      </ul>

    </div>

    <div class="LessonRequirements__column">

      <h4 class="LessonRequirements__heading LessonRequirements__heading--files">Project files</h4>

      <a href="#" class="Button Button--small Button--primary Button--icon Button--icon--download">Download all project files</a>

    </div>

  </div>

</div>
