.check_area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 90px;
  width: 100%;
  margin: 1rem 1.5rem;
  .check_image {
    width: 5rem;
    text-align: center;
    margin: 2rem 0;
    color: $color-green;
    font-size: 2rem;
  }
  .objective {
    padding: 1rem;
  }
}
.icon-Done{
  margin: 2rem 0;
  color: $color-green;
  font-size: 2rem;
}