.filter--bar {

  label {
    font-size:.875rem;
    display:inline-block;
    padding:.4rem .8rem .5rem 0;
  }

  select {
    background-color:transparent;
    font-weight:500;
    border:none;
    color:$color-dark;
    width:auto;
    padding-left:0;
    padding-right:2em;
    &:hover,
    &:focus {
      box-shadow:none;
    }
  }

  .field-wrapper {
    @include clearfix;
    label, select {
      float:left;
      margin-right:2em;
    }
  }

}