fieldset.lesson--standards {
  border-bottom:none;
}

.lesson--standard-wrapper {
  border-bottom:$color-gray-outlines 1px solid;
  padding-bottom:2em;
  margin-bottom:2em;
}

.lesson--standard {
  display: flex;
  flex-direction: row;


  .check_image {
    width: 100px;
    text-align: center;
  }
  .information {
    padding: 0 25px;
    p {
      margin: 0;
    }
  }
  margin: 3.5rem 1rem;
}