.lesson-nav-actions {
  background:$color-blue-hi;
  color:$color-white;
  padding:$gutter-base 0;

  @include clearfix;

  h3 {
    margin:0;
    float:left;
  }

  .actions {
    float:right;
  }

}