.steps--view{
  .wrapped {
    .step {
      border-bottom: 2px solid $color-gray-outlines;
      &:last-of-type {
        border-bottom: none;
      }
      .step-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        @include breakpoint($tablet-breakpoint) {
          flex-direction: row;
        }

          h4 {
          color: $color-dark-hi;
        }
        h5 {
          font-weight: 400;
          color: $color-mid-gray;
        }
        section {
          border-bottom: 2px solid $color-gray-outlines;
          margin: 0;
          padding: 10px 0 34px 0;
          &:last-of-type {
            border-bottom: none;
          }
        }

        .left {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          max-width: 49rem;
          p {
            padding-right: 2rem;
          }
        }
        .right {
          display: flex;
          flex-direction: column;
          width: 330px;

        }
        ul {
          padding-left: 20px;
        }
      }
    }
  }
  p{overflow-wrap: break-word;}
}

