.user.user--teaser {
  @include clearfix;

  display:flex;
  align-items: center;

  figure {
    margin-right:1rem;
    display:block;
    img {
      border-radius:100%;
      padding:.2rem;
      border:2px solid $color-gray-outlines;
    }
  }

  .details {
    font-size:.9em;
    overflow:hidden;
    line-height:1.2em;

    p {
      margin:0;
      font-weight:500;
    }


    em {
      display:block;
      font-weight:200;
      display:block;
      font-style:normal;
      color:$color-mid-gray;
    }
  }

}