<%= form_tag(lesson_path(lesson_id: @lesson_obj.id, form_step:3), method: :patch, multipart: true, class: "Form") do %>

  <%= field_set_tag 'How does this align to standards?', class: 'Form__fieldset' do %>

    <!-- lesson.standards -->
    <div class="FormFieldGroups FormFieldGroups--multiple" data-values="<%= [ { standard_id: 1, descriptions: ['Descrption 1', 'Description 2', 'Descrption 3'] }, { standard_id: 1, descriptions: ['Descrption 1', 'Description 2', 'Descrption 3'] } ].to_json %>">

      <div class="FormFieldGroup">

        <div class="FormField FormField--required">

          <div class="FormField__info">
            <label class="FormField__label" for="lesson_standards__standard_id_1">Standard name</label>
            <div class="FormField__hint">What is the overarching standard</div>
          </div>

          <div class="FormField__input FormField--multiple">
            <select name="standards[name]" id="lesson_standards__standard_id_1" value="">
                <%= options_for_select(@standards) %>
            </select>
          </div>

        </div>

        <div class="FormField FormField--required">

          <div class="FormField__info">
            <label class="FormField__label" for="lesson_standards_description_1">Description</label>
            <div class="FormField__hint">What is the overarching standard</div>
          </div>

          <div class="FormField__input FormField--multiple">
            <textarea name="standards[description][]" class="Input Input--multiple" placeholder="+ Add a new standard" id="lesson_standards_description_1"></textarea>
          </div>

        </div>

      </div>

      <button class="FormFieldGroups__add Button Button--secondary">Add a new standard</button>

    </div>

  <% end %>

  <div class="Form__footer">

    <div class="Form__footer__content">

      <div class="Form__footer__actions">
        <a href="#" class="Form__footer__action Button Button--primary Button--small Button--icon Button--icon--left Button--arrow--left">Back to overview</a>
        <button class="Form__footer__action Button Button--primary Button--small Button--icon Button--icon--right Button--arrow--right">Add some details</button>
      </div>

    </div>

  </div>

<% end %>
