<div class="FormField FormField--vertical FormField--required">

  <div class="FormField__info">
    <label class="FormField__label" for="user_email">Email</label>
  </div>

  <div class="FormField__input">
    <input type="email" name="user[email]" class="Input" value="" placeholder="Your email address" id="user_email"
   required autofocus />
  </div>

</div>
