<div class="FormField FormField--vertical FormField--required">

  <div class="FormField__info">
    <label class="FormField__label" for="user_password_confirmation">Confirm your password</label>
  </div>

  <div class="FormField__input">
    <input type="password" name="user[password_confirmation]" class="Input" value="" placeholder="Enter your password again" id="user_password_confirmation"
   required />
  </div>

</div>
