<div class="FormField FormField--vertical FormField--required">

  <div class="FormField__info">
    <label class="FormField__label" for="user_password">Password</label>
  </div>

  <div class="FormField__input">
    <input type="password" name="user[password]" class="Input" value="" placeholder="Your password" id="user_password"
   required />
  </div>

</div>
