<div class="Form__footer">

  <div class="Form__footer__content">

    <div class="Form__footer__actions">
      <%= link_to "Back to Overview", edit_lesson_path(id: @lesson_obj.id, form_step: 1), class: 'Form__footer__action Button Button--primary Button--small Button--icon Button--icon--left Button--arrow--left' %>
      <%= link_to "Add some Details", edit_lesson_path(id: @lesson_obj.id, form_step: 3), class: 'Form__footer__action Button Button--primary Button--small Button--icon Button--icon--right Button--arrow--right' %>
    </div>

  </div>

</div>