<%= render partial: 'lessons/show_sub_nav' %>

<div class="PageHeader">
  <div class="PageHeader__content">
    <div class="PageHeader__title">
      <h1 class="PageHeader__heading">Settlers of Catan</h1>
      <div class="PageHeader__sub">
        This lesson abides by the following standards
      </div>
    </div>
  </div>
</div>

<div class="StandardsIndex">

  <div class="StandardsIndex__standard">

    <h3 class="StandardsIndex__heading">
      NGSS
    </h3>

    <ul class="StandardsIndex__descriptions">
      <li class="StandardsIndex__description">
        RST.9-10.4. Determine the meaning of symbols, key terms, and other domain-specific words and phrases as they are used in a specific scientific or technical context relevant to grades 9-10 texts and topics.
      </li>
    </ul>

  </div>

  <div class="StandardsIndex__standard">

    <h3 class="StandardsIndex__heading">
      Common Core ELA
    </h3>

    <ul class="StandardsIndex__descriptions">
      <li class="StandardsIndex__description">
        RST.9-10.4. The Design Process: I can use the digital fabrication design process and quality assurance principles to analyze and solve design problems. This includes journal writing to document progress and capture ideas during the development phase.
      </li>
      <li class="StandardsIndex__description">
        RST.9-10.5. Sketching and Visualization: I can conceptualize and sketch design projects and components.
      </li>
      <li class="StandardsIndex__description">
        RST.9-10.8. Create Models: I can create models to illustrate the design of project and components This include using and/or creating a file during the modeling process.
      </li>
      <li class="StandardsIndex__description">
        RST.9-10.9. Interpret and prepare 2D and 3D drawings: I can create and interpret auxiliary views, orthographic projections, isometric drawing, oblique drawings and perspective drawings. I can also use 2D and 3D modeling software to document work and communicate solutions.
      </li>
      <li class="StandardsIndex__description">
        RST.9-10.10. Computer-Aided Modeling: I can create models to illustrate the design of projects, including apply manufacturing processes (e.g. casting, molding, separating, assembling, finishing, and rapid prototyping).
      </li>
    </ul>

  </div>

</div>

<div class="LessonFooter">

  <div class="LessonFooter__content">

    <div class="LessonFooter__actions">
      <%= link_to "Back to Overview", lesson_path(id: @lesson_obj.id), class: "LessonFooter__action Button Button--primary Button--small Button--icon Button--icon--left Button--arrow--left" %>
      <%= link_to "Step by Step", lesson_steps_path(lesson_id: @lesson_obj.id), class: "LessonFooter__action LessonFooter__action--right Button Button--primary Button--small Button--icon Button--icon--right Button--arrow--right" %>
    </div>

  </div>

</div>