<%= form_tag(lesson_standards_path(lesson_id: @lesson_obj.id, form_step:2), method: :post, multipart: true, class: "Form") do %>

  <%= render partial: "standards/form" %>

  <div class="Form__footer">

    <div class="Form__footer__content">

      <div class="Form__footer__actions">
        <a href="#" class="Form__footer__action Button Button--primary Button--small Button--icon Button--icon--left Button--arrow--left">Back to overview</a>
        <button class="Form__footer__action Button Button--primary Button--small Button--icon Button--icon--right Button--arrow--right">Add some details</button>
      </div>

    </div>

  </div>

<% end %>
