%article.lesson--teaser
  = link_to page_path('static/lessons/show') do
    = image_tag "https://www.fillmurray.com/270/200"
  .detail
    %h3 Lesson name
    %p Here will come the lesson description, that can easily be multiline
    %p [lesson author]
