%article
  .wrapped
    %fieldset
      %h3 
        Examples of finished work
        %p [steps with instructions]
  %footer
    .wrapped
      =link_to 'Back to instructions', page_path('static/lessons/new.html.haml',step:'4'), class: 'button button--call'
      =link_to 'Publish lesson', '#', class: 'button button--highlight'