%article
  %fieldset
    %h3 
      How does this align to standards

    %p [repeteable standards]

  %footer
    =link_to 'Back to overview', page_path('static/lessons/new.html.haml',step:'1')
    =link_to 'Add some details', page_path('static/lessons/new.html.haml',step:'3')