%article
  %fieldset
    %h3 
      Examples of finished work
      %p [steps with instructions]
  %footer
    =link_to 'Back to instructions', page_path('static/lessons/new.html.haml',step:'4')
    =link_to 'Publish lesson', '#'