%article
  .wrapped
    %fieldset
      %legend 
        %h3 Basic information
        %small * Mandatory information 
      .field-group
        %label 
          Name of Lesson *
          %small 50 chars max
        .field-wrapper
          %input{type: 'text', class: 'input--large'}
      .field-group
        %label 
          Topline description *
          %small Describe it in a sentence
        .field-wrapper
          %input{type: 'text'}
      .field-group
        %label
          Summary of lesson *
          %small
            %p Keep it short and snappy.
            %p Try to include:
            %p 
              • Why the lesson is interesting
              %br
              • The types of activities students will do.
            %p You can format using markdown
        .field-wrapper
          %textarea

    %fieldset
      %legend 
        %h3 Objectives
      .field-group
        %label 
          Learning objectives *
          %small What will the students learn
        .field-wrapper
          %input{type: 'text'}

    %fieldset
      %legend 
        %h3 Authors
      .field-group
        %label 
          Who made this *
          %small Enter one or more authors
        .field-wrapper
          %input{type: 'text', placeholder: 'Add new person'}

      .field-group
        %label 
          Where was this made *
          %small Enter one or more places
        .field-wrapper
          %input{type: 'text', placeholder: 'Add new place'}

    %fieldset
      %legend 
        %h3 Lesson ambitions
      .field-group
        %label
          Lesson Description *
          %small
            %p Keep it short and snappy.
            %p Try to include:
            %p 
              • Why the lesson is interesting
              %br
              • The types of activities students will do.
            %p You can format using markdown
        .field-wrapper
          %textarea

      .field-group
        %label
          Assessment Criteria *
          %small
            %p Keep it short and snappy.
            %p Try to include:
            %p 
              • Why the lesson is interesting
              %br
              • The types of activities students will do.
            %p You can format using markdown
        .field-wrapper
          %textarea
          .field-group.field-group--support
            %label.label--small 
              Supporting files
            .field-wrapper
              %input{type: 'file'}

    %fieldset
      .field-group
        %label 
          Further reading
          %small Anymore useful links
        .field-wrapper
          %input{type: 'text'}

  %footer
    .wrapped
      %p Next up...
      =link_to 'Add some more details', page_path('static/lessons/new.html.haml',step:'2'), class: 'button button--call'