%article
  .wrapped
    %fieldset
      %h3 
        Who is this for?

        %p [selectable things]

  %footer
    .wrapped
      =link_to 'Back to standards', page_path('static/lessons/new.html.haml',step:'2'), class: 'button button--call'
      =link_to 'Add some instructions', page_path('static/lessons/new.html.haml',step:'4'), class: 'button button--call'