%article
  .wrapped
    %fieldset
      %h3 
        How does this align to standards

      %p [repeteable standards]

  %footer
    .wrapped
      =link_to 'Back to overview', page_path('static/lessons/new.html.haml',step:'1'), class: 'button button--call'
      =link_to 'Add some details', page_path('static/lessons/new.html.haml',step:'3'), class: 'button button--call'