%article
  .wrapped
    %fieldset
      %legend
        %h3 Who is this for?

      -# Grade range
      .field-group
        %label
          Grade Range
          %small Specify one or more
        .field-wrapper
          %input{type: 'text', id: 'grade', readonly: 'readonly'}
            %div#slider-range

    %fieldset
      .field-group
        %label.field-description
          Subjects
          %small Add one or more
        .field-wrapper
          .radio
            %label
              %input{name: 'subject', type: 'radio', value: 'technology'}
              Technology    
          .radio
            %label
              %input{name: 'subject', type: 'radio', value: 'arts'}
              Arts and humanities
          .radio
            %label
              %input{name: 'subject', type: 'radio', value: 'engineering'}
              Engineering
          .radio
            %label
              %input{name: 'subject', type: 'radio', value: 'maths'}
              Maths
          .radio
            %label
              %input{name: 'subject', type: 'radio', value: 'science'}
              %input{type:'checkbox'}

              Science

      -# Difficulty level
    %fieldset#lesson-difficulty-level
      .field-group
        %label
          Difficulty Level
          %small How hard is this lesson
        .field-wrapper
          .radio-group
            .radio
              %label
                %input{name: 'difficulty-student', type: 'radio', value: 'easy'}
                Easy
            .radio
              %label
                %input{name: 'difficulty-student', type: 'radio', value: 'medium'}
                Medium
            .radio
              %label
                %input{name: 'difficulty-student', type: 'radio', value: 'hard'}
                Hard
            %small For student

          .radio-group
            .radio
              %label
                %input{name: 'difficulty-educator', type: 'radio', value: 'easy'}
                Easy
            .radio
              %label
                %input{name: 'difficulty-educator', type: 'radio', value: 'medium'}
                Medium
            .radio
              %label
                %input{name: 'difficulty-educator', type: 'radio', value: 'hard'}
                Hard
            %small For educator


      -# Skills required
    %fieldset
      .field-group
        %label
          Skills required
          %small How hard is this lesson

        .field-wrapper

          .skills-group
            .skill 
              %label
                Hardware
                %input{type:'checkbox'}
              .stars
                -(1..5).each do |i|
                  %input{name: 'skill-hardware', type: 'radio', value: i}

            .skill 
              %label
                Design
                %input{type:'checkbox'}
              .stars
                -(1..5).each do |i|
                  %input{name: 'skill-design', type: 'radio', value: i}

            .skill 
              %label
                Software
                %input{type:'checkbox'}
              .stars
                -(1..5).each do |i|
                  %input{name: 'skill-software', type: 'radio', value: i}



      -# Context
    %fieldset
      .field-group
        %label
          Context
          %small What kind of project is this?

        .field-wrapper
          %label
            In classroom
            %input{type:'checkbox'}

          %label
            In Fablab
            %input{type:'checkbox'}

          %label
            Capstone
            %input{type:'checkbox'}



      -# Collection
    %fieldset
      .field-group
        %label
          Collection
          %small Does this belong to a collection?
        .field-wrapper
          %select
            %option Gold Standard Lesson

      -# Tags
    %fieldset
      .field-group
        %label
          Tags
          %small Enter, comma, separated, tags
        .field-wrapper
          .tags-input
            %span.tag
              Innovation
            %span.tag
              Science
          %input{type: 'text'}


  %footer
    .wrapped
      =link_to 'Back to standards', page_path('static/lessons/new.html.haml',step:'2'), class: 'button button--call'
      =link_to 'Add some instructions', page_path('static/lessons/new.html.haml',step:'4'), class: 'button button--call'