%article
  %fieldset
    %h3 
      How does this lesson unfold? 

      %p [steps with instructions]
  %footer
    =link_to 'Back to details', page_path('static/lessons/new.html.haml',step:'3')
    =link_to 'Add some outcomes', page_path('static/lessons/new.html.haml',step:'5')