<div class="PageHeader">
  <div class="PageHeader__content">
    <div class="PageHeader__title">
      <h1 class="PageHeader__heading">Settlers of Catan</h1>
      <div class="PageHeader__sub">
        Latest updates and changes to the lesson plan
      </div>
    </div>
  </div>
</div>
