- if user_signed_in?
  %li= link_to 'Sign out', destroy_user_session_path, :method=>'delete'
- else
  -#%li= link_to 'Login', new_user_session_path, class: 'button'
  -#%li= link_to 'Register', new_user_registration_path, class: 'button button--inverse'
  %li= link_to 'Login', enter_path(step: 0), class: 'button'
  %li= link_to 'Login', enter_path(step: 1), class: 'button'


