%li.social= link_to 'Slack', '#', class: 'icon_social icon_slack'
%li.social= link_to 'Twitter', '#', class: 'icon_social icon_twitter'
%li.social= link_to 'Facebook', '#', class: 'icon_social icon_facebook'
